@import url(http://fonts.googleapis.com/css?family=Roboto);

body{margin:0; padding:0; font-family: 'Roboto', sans-serif; font-size:16px; color:#616161;}
_::-moz-svg-foreign-content, :root body{margin:0; padding:0; font-family: 'Roboto', sans-serif; font-size:14px; color:#616161; font-weight:normal;}
@media all and (-webkit-min-device-pixel-ratio: 0) { .container{font-family: font-family: 'Roboto', sans-serif !important; font-size:14px; color:#616161; font-weight:500 !important;}}

.wrapper{float:left; width:100%;}
.header{float:left; width:100%; background-color:#eb181e;}
.logo{float:left;}
.rt_menu{float:right; width:50%;}
.pro_menu{float:right; background-color:#fe5459;}
.pro_menu span{float:left; width:30px; margin:21px 14px 21px 14px;}
.pro_menu span img{width:100%;}
.pro_text{float:left; color:#FFFFFF; margin:25px 15px 0 0; font-size:18px;}
a{ outline:none;}
a:hover, a:focus{ outline:none;}
.nav > li > a:focus, .nav > li > a:hover{ background:none !important; outline:none; border:none;}
.hvr-rectangle-out:before {
  content: "";
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  width:150px; height:78px;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/*Header section css code*/
header.headsection {
    background: none repeat scroll 0 0 #d1d2d4;
    border-bottom:4px solid #ed2027;
    float: left;
    width: 100%;
}
.headsection .main_section .col-lg-6 {
    padding: 0;
    width:auto;
}
.headsection .main_section .col-lg-6.header_rtsection {
    padding: 0; float:right;

}
header.headsection .main_section .col-lg-6 .logo {
    margin:20px 0px;
}
.main_section .header_rtsection {
    padding: 0;
   /* width: 45%;*/
}
.main_section .header_rtsection .bs-example .navbar #navbarCollapse {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.main_section .header_rtsection .bs-example {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    margin-top:62px;
    width: 100%;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.firstt_sect a {
    border-radius: 4px 0 0;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.last_sect a span {
  display: none;
}
.bs-example .nav.navbar-nav.profile_sect {
    border-left: medium none;border-right:2px solid #de797d; 
}
.main_section .header_rtsection .bs-example nav.navbar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    float: right;
    height: auto;
    margin: 0;
    min-height: auto;
    padding: 0;
    width: auto;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li{ border-right: 1px solid #de797d;}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a {
    color: #fff;
    font-size: 17px; 
    font-weight: normal;
    line-height: normal;
    padding:15px 20px; outline:none;
    text-shadow: none; background:none repeat scroll 0 0 #ed2027;
}
_::-moz-svg-foreign-content, :root .main_section .header_rtsection .bs-example nav.navbar ul.nav li a { padding:13px 20px;}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a:hover {
    color: #000; background:#f5b0a0 !important;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a.active{
    color: #000; background:#f5b0a0 !important;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a:focus{background:#f5b0a0 !important;}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.active a {
    color: #000; background:#ff999c !important; border: medium none;
    box-shadow: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a{  background:none !important; border: medium none;}
.main_section .header_rtsection .bs-example ul.nav.navbar-right.profile_sect {
    display: block;
    float: left !important;
    margin: 0 0 0 -2px !important;
    text-align: left;
    width: auto; background:#fe5459;
}
.bs-example .nav.navbar-nav {
border-top:2px solid #de797d; border-left:2px solid #de797d;border-right:2px solid #de797d; border-radius: 6px 6px 0 0;}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.last_sect a {
border-radius: 0 3px 0 0;
border-right: medium none;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.last_sect{
border-radius: 0 3px 0 0;
border-right: medium none;
}
.main_section .header_rtsection .bs-example ul.nav.navbar-right.profile_sect li a {
    color: #000;
    font-size: 17px;
    font-weight: normal;
    line-height: normal;
    padding:25px 28px 25px 28px;
    text-shadow: none;
}
.main_section .header_rtsection .bs-example ul.nav.navbar-right.profile_sect li a:hover {
    background: none repeat scroll 0 0 #ff999c;
    color: #fff;
}
.nav.navbar-nav.navbar-right.profile_sect img {
    float: left;
    height: 30px;
    margin: 1px 5px 0 0;
    width: 30px;
}
.nav.navbar-nav.navbar-right.profile_sect li a span{ background:url(../img/profile_icon.png) no-repeat; float: left;
    height: 30px; display:none;
    margin: 1px 5px 0 0;
    width: 30px;}
	.nav.navbar-nav.navbar-right.profile_sect li a:hover span{ background:url(../img/profile_icon_hover.png) no-repeat; float: left;
    height: 30px;
    margin: 1px 5px 0 0;
    width: 30px;}
	.nav.navbar-nav.navbar-right.profile_sect li a span:hover{ background:url(../img/profile_icon_hover.png) no-repeat; float: left;
    height: 30px;
    margin: 1px 5px 0 0;
    width: 30px;}
/*Header section css code*/

/*middle section css code*/
.middle_section {
    float: left;
    width: 100%; 
}
.middle_section .page_title {
    border-bottom: 1px solid #ccc; padding-left: 2px;
}
.middle_section .container.detail_page {
    margin-top: 50px;margin-bottom: 100px;
}
.container.detail_page #inform.col-lg-6 {
    border-left: 1px solid #000;
    padding: 0 0 0 30px;
}
.container.detail_page #inform.col-lg-6 .car_name {
    color: #616161;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 0 0 7px;
}
.container.detail_page #inform.col-lg-6 p.discription_text {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 15px;
    text-align: justify;
}
.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td {
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 0;
}
.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td.ul_right {
    float: left;
    margin: 0 0 0 30px !important;
}
.middle_section .page_title h2 {
    font-size: 20px;
    font-weight: bold;
}
.container.news_page .row .col-lg-12 span.heading_title {
    background: none repeat scroll 0 0 #eb181e;
    float: left;
    padding:12px 0px 12px 20px;
    width: 100%; margin:15px 0px; color:#fff; font-size:16px; font-weight:600;
}
.container.news_page {
    margin-bottom: 50px;
    padding-left: 2px;
}
.container.news_page .row .col-lg-12 {
    padding-right: 0;
}
.container.news_page ul.news_list {
    float: left;
    list-style: outside none none;
    margin: 0 0 0 0px;
    width: 100%;
}
.container.news_page ul.news_list li {
    font-size: 16px;
    padding: 3px 0;
}
.container.news_page ul.news_list li.month {
    font-weight: 600;
}

/*News page css code*/

/*resource_page  css code*/
.container.resource_page .table-responsive table.product_download tr th {
    background: none repeat scroll 0 0 #eb181e;
    border-right: 1px solid;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 10px 10px 14px;
    text-align: left;  vertical-align: middle;
}
.container.resource_page .table-responsive table.product_download tr th span {
    clear: both;
    float: left;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
}
.container.resource_page {
    margin: 24px auto 50px;
    padding: 0;
}
.container.resource_page .table-responsive table.product_download {
    border: 1px solid #959595;
}
.container.resource_page .table-responsive table.product_download tr.prod_inst td {
    border-right: 1px solid #959595;
	 border-top: 1px solid #959595;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 15px 22px 14px;
}
.container.resource_page .table-responsive table.product_download tr.prod_inst {
    border-top: 1px solid #959595;
}
.prod_inst span {
    margin: 0 0 0 12px;
}
.coolgear img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/*resource_page  css code*/

/*search_page  css code*/

.container.search_page {
    padding: 0;
}
.container.search_page .row .col-lg-12 p {
    color: #000;
    font-size: 16px;
    line-height: 22px;
    margin: 20px 0 20px 0px;
}
.container.search_page_select {
    margin-bottom: 15px;
    margin-top: 25px;
    padding-left: 0;
}
.container.search_page_select .row .col-lg-3 select.selectpicker {
    height: 36px;
    padding: 1px 5px 2px 7px;
    width: 98%;
}

.container.Addvance_view {
    padding-left: 0; margin-bottom:30px;
}
.container.Addvance_view .row .col-lg-6.left_side {
    border: 1px solid #ccc;
    max-height: 257px;
    overflow: auto;
    padding:12px 10px 10px 20px;
}
.Addvance_view .row {
    margin: 0;
}
.container.Addvance_view .row .col-lg-6.left_side ul{ margin:0px; padding:0px; list-style:none;}

.container.Addvance_view .row .col-lg-6.left_side ul span {
    float: left;
    font-weight: bold;
    padding: 0;
    width: 100%;
}
.container.Addvance_view .row .col-lg-6.left_side ul li {
    float: left;
    padding: 0px 0 0 9px;
    width: 100%;
}
.container.Addvance_view .row .col-lg-6.left_side ul.second_list {
    float: left;
    margin: 14px 0 0px;
}
.Addvance_view .col-lg-6.right_side form label.checkbox-inline {
    float: left;
    padding: 0 0 10px;
    width: auto;
}
.Addvance_view .col-lg-6.right_side form label.checkbox-inline span {
    float: left;
    font-size: 16px;
    font-weight: 600;
}
.container.Addvance_view .row .col-lg-6.right_side form .checkbox_fild {
    float:left;
    margin: 5px 0 0 9px;
    padding: 0;
}
.Addvance_view .col-lg-6.right_side p {
    float: left;
    font-size: 14px; line-height:24px;
    margin: 0 0 20px;
    width: 100%;
}
.container.Addvance_view .row .col-lg-6.left_side ul.second_list {
    margin: 12px 0 3px 0px;
}
.Addvance_view .col-lg-6.right_side .submit_btn button.sub_btn {
    background:none repeat scroll 0 0 #eb181e;
    border: 1px solid #c51419;
    color: #fff;border-radius: 4px;
    font-size: 18px;
    font-weight: normal;
    height: auto;
    padding: 8px 24px;
    text-shadow: none;
}
.Addvance_view .col-lg-6.right_side .submit_btn button.sub_btn:hover{ background:#fe5459; color:#000;}

.Addvance_view .col-lg-6.right_side .submit_btn {
    float: left;
}
.middle_section .row p {
    text-align: justify;
}
.nav.navbar-nav.navbar-right.profile_sect li a button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    outline: medium none;
    padding: 0;
    text-shadow: none;
}

.main_section .col-lg-4 .bs-example ul.nav.navbar-right.profile_sect li a:hover button  {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    padding: 0; color:#000; text-shadow:none;
}
.nav.navbar-nav.navbar-right.profile_sect li a button:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    padding: 0; color:#000; text-shadow:none;
}
/*search_page  css code*/



/*Login Section*/
#login_popup .modal-header {
   background: -o-linear-gradient(bottom, #e7eaee , #dadfe3);
background: -moz-linear-gradient(bottom, #e7eaee, #dadfe3);
background: -webkit-linear-gradient(bottom, #e7eaee, #dadfe3);
background: -ms-linear-gradient(bottom, #e7eaee, #dadfe3);
background: linear-gradient(to bottom, #e7eaee, #dadfe3);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eaee', endColorstr='#dadfe3',GradientType=0 );
    border-bottom: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    font-size: 25px !important;
    min-height: auto;
    padding: 10px;
    text-align: center;
    width: 100%; margin:1px 0px;
}
#login_popup .modal-body label{ color:#555555;}

#login_popup .modal-header h4{font-size: 22px !important;}
#login_popup .modal-content {
    width: 100%; background: none repeat scroll 0 0 #f3f5f7;
}
#login_popup .modal-footer button.btn {
    background: none repeat scroll 0 0 #eb181e;
    border: 1px solid #c51419;
    color: #fff;
    font-size: 18px;
    padding: 7px 0 8px;
    text-shadow: none;
    width: 63%;
}
#login_popup .modal-footer button.btn:hover{ background:#fe5459; color:#000;}
#login_popup .modal-footer {
    border: medium none;
    padding: 0 0 15px;
    text-align: center;
}
.form-group.forgot_pass label {
    display: block;
    text-align: center;
}
.form-group.forgot_pass {
    margin: 0;
}
#login_popup .modal-body {
    padding-bottom: 10px;
}
#login_popup .modal-content .modal-header button{opacity: 1;}
#login_popup .modal-content .modal-header button.close span {
    color: #ff0000;
    font-size: 32px;
    opacity: 1;
}
#login_popup {
    left: 36%;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    width: 25%;
}
#login_popup .modal-footer button.btn:focus {
    outline: medium none;
}
#login_popup .modal-content .modal-header button.close span img {
    outline: medium none;width: 22px; height:22px;
}
.login_detail_section {
    background: none repeat scroll 0 0 #f3f5f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    float: none;
    margin: 35px auto;
    width: 30%;
    clear:both;
}

.login_detail_section .logtitle {
background: -o-linear-gradient(bottom, #e7eaee , #dadfe3);
background: -moz-linear-gradient(bottom, #e7eaee, #dadfe3);
background: -webkit-linear-gradient(bottom, #e7eaee, #dadfe3);
background: -ms-linear-gradient(bottom, #e7eaee, #dadfe3);
background: linear-gradient(to bottom, #e7eaee, #dadfe3);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eaee', endColorstr='#dadfe3',GradientType=0 );
    border-radius: 4px 4px 0 0;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
}
.login_detail_section #logsectform {
    border: 1px solid #fff;
    margin: 2px;
    padding: 25px;
}
.login_detail_section #logsectform .form-group input {
    height: auto;
    padding: 10px 5px;
    width: 100%;
}
#login_popup .modal-footer button.btn:hover{ background:#fe5459; color:#000;}
#logsectform .form-group.log_btn button.btn,#logsectform .form-group.log_btn input.btn {
    background: none repeat scroll 0 0 #eb181e;
    border: medium none;
    display: block;
    margin: 0px 0 0; color: #fff;
    font-size: 18px;
    padding: 7px 0 8px;text-shadow: none;
    width: 100%;
}
#logsectform .form-group.log_btn button.btn:hover{ background:#fe5459; color:#000;}
#logsectform .form-group.log_btn {
    margin-bottom: 0;
}
.page_width button:focus {
    outline: medium none !important;
}
.page_width a:focus {
    outline: medium none !important;
}
.page_width input:focus {
    outline: medium none !important;
}
.form-group.forgot_pass label a {
    color: #000;
}
.col-md-4.mar {
    padding: 9px;
}


/*Login Section*/


/*middle_section css code*/
.footer_section { float:left; width:100%; border-top:2px solid #cacaca;}
.footer_section .foot_text .col-lg-12 p{ text-align:right; padding:15px 0px;font-size: 14px;}


.container.resource_page .table-responsive table.product_download tr.prod_inst td:last-child {
    border-bottom: medium none;
    border-right: medium none;
}
#login_popup .modal-header .close {
    margin-top: -4px;
}

.comeing_soon {
    font-size: 16px;
    min-height: 300px;
    text-align: left; float: left; width: 100%;
    overflow: visible !important;
}

.middle_section .profile_sect h2 {
    font-size: 20px;
    font-weight: bold;
}
.comeing_soon h2 {
    font-size: 22px;
    min-height: auto;
    text-align: left;
}
.container.page_title.profile_sect {
    border: medium none;min-height: 525px;
}
.validationerror{
color:red;
}
.clear {
    clear: both;
}
/*.log_btn .col-lg-6{padding:0 20px 0 0;}*/

a.cancel-den{
    background: none repeat scroll 0 0 #EB181E;
    border: medium none;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 7px 0 8px;
    text-shadow: none;
    width: 100%;
}
a.cancel-den:hover{color:#fff;}
.mar .alert{margin:0px 0 0 0;}

.Login_Register_section{ min-height:500px;}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a span {
    display: none;
}
 
/*05-05-2015 css made kishor*/
.search2 .col-lg-12 h2 {
    margin-top: 0;
}
#searchbrabd table.table th, td {
    text-align: center;  color:#000;
}
#searchbrabd table.table td {
    text-align: center; font-weight:normal !important; color:#000;
}
#searchbrabd table.table th{ background:#d1d2d4; border-top:1px solid #959595; border-right:1px solid #959595;}

.form-group button.search_field {
    background: none repeat scroll 0 0 #eb181e;
    border: medium none;
    display: block; border-radius: 3px;
    margin: 0px 0 0; color: #fff;
    font-size: 18px;
    padding: 5px 0px 4px 0px;text-shadow: none;
    width: 40%;
}
select.part_no {
    border-radius: 0;line-height: 28px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
select.part_no:focus {
    border: 1px solid #959595;
    box-shadow: none;
    outline: medium none;
}
.form-group button.search_field:hover{ background:#fe5459; color:#000;}
.container.search_page_select .form-group input.part_no {
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: auto;
    margin: 0 0 0 0px;
    padding: 6px 6px;
    width:100%;
}
.form-group button.search_field {
    -moz-appearance: none !important;
 -webkit-appearance: none !important;
}
.container.search_page_select {
    border-bottom: 1px solid #ccc;
    padding-bottom:8px; margin-top: 5px; margin-bottom:15px;
}
#searchsection {
    border-bottom: medium none;
}

/*News page css here*/
.container.backpage {
    position: absolute;
    right: 75px;  z-index: 999;
    top: 10px;
}

.news_sub button {
    -moz-appearance: none !important;
}
.back_link button {
    -moz-appearance: none !important;
}
.back_link {
    background: none repeat scroll 0 0 #eb181e;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    display: block;
    float: right;
    font-size: 18px;
    margin: 0;
    padding: 4px 20px;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 8px;
    width: auto;
}
.back_link:hover {
    background: none repeat scroll 0 0 #fe5459;
    color: #000;
}

.news_sub {
    background: none repeat scroll 0 0 #eb181e;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 18px;
    margin: 15px 0 0 0;
    padding: 6px 12px;
    text-shadow: none; 
    width:auto;
}
.news_sub:hover {
    background: none repeat scroll 0 0 #fe5459;
    color: #000;
}

.back_link a{  color: #fff;}
.back_link:hover a{  color: #000;}

.container.categoresection {
    margin: 20px auto;  padding: 0;
}
.container.categoresection .row {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.container.categoresection .row .col-lg-8, .col-lg-4 {
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc inset;
     padding: 15px;
}
.container.categoresection .row .col-lg-8 {
    margin: 0 30px 40px 0;
    width: 75%;
}
.container.news_page .col-lg-4 {
    border: 1px solid #de797d;
    border-radius: 4px;
    box-shadow: none;
    float: right;
    width: 22%; padding: 0;
}
.container.categoresection .row .col-lg-8 span {
    font-size: 16px;
    font-weight: bold;
}
.container.categoresection .form_field.section label {
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin:10px 0;
    width: 100%;
}
.container.categoresection .form_field.section textarea {
    border: 1px solid #ccc;
    border-radius: 0px;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 16px;
    padding: 6px;
    width: 100%;
}
.container.categoresection .form_field.section input.desccription {
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
	-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
	 font-size: 16px;
    height: auto;
    margin: 3px 0 15px;
    padding: 10px 9px 10px 8px;
    width: 100%;
}

.container.news_page .col-lg-4 .cate_righttop {
    float: left;
    margin:0px;
    width: 100%;
}
.container.news_page .col-lg-4 .cate_righttop .catelist ul {
    float: left;
    list-style: outside none none;
    padding: 0;
    width: 100%;
}
.container.news_page .col-lg-4 .cate_righttop .catelist ul li a {
    color: #000;
    display: block;
    float: left;
    font-size: 16px;
    padding:0 0 7px 15px;
    width: 100%;
}
.container.news_page .col-lg-4 .cate_righttop .catelist ul li a:hover{ color:#eb181e;}

.catelist {
    float: left; background:none repeat scroll 0 0 #f4f4f4;
    width: 100%; padding:10px 0 10px 0;
}
.container.news_page .col-lg-4 .cate_righttop h1 {
    background: none repeat scroll 0 0 #eb181e;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0px 0;
    padding: 10px 0;
    text-align: center;
}
.comments {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
}
.comments > h3 {
    font-size: 17px; text-align: left;
    margin: 0;
    padding: 5px 0;
}
.comments > .comment {
    background-color: #f4f4f4;
}
.comments > .comment:first-of-type {
    margin-top: 0; margin-bottom: 15px;
}
.comments .comment {
    position: relative;
}
.comments > .comment {
    color: #333745;
    margin-top: 20px;
    padding:13px 5px;
    position: relative;
}
.comments .avatar {
    display: block;
    float: left;
    margin-bottom: 0;
    margin-right: 15px;
}
.comments .user-name {
    font-size: 18px;
    font-weight: bold;
}
.comments .user-date {
    color: #5f6874;
    font-size: 13px;
    margin: 2px 0 4px;
}
.comments .user-site {
    font-size: 13px;
}
.comments > .comment p {
    font-size: 14px;word-break: break-all;
    word-wrap: break-word;
}
.container.commentsection {
    margin: 20px auto;
    padding: 0;
}
.container.news_page .row .col-lg-8 {
    width: 75%; float: left;
}
.container.news_page .row .col-lg-8 h3 {
    margin: 0;
    padding: 0 0 13px;
}
.container.news_page .row .col-lg-8 .discription p {
    font-size: 16px;
    line-height: 24px;
}
.container.categoresection .row .col-lg-8 .user-date span {
    font-size: 14px;
    font-weight: normal;
}

/* -------------- profile main ---------------- */

.main_profile {
	width:100%;
	margin:15px auto;
	border:1px solid #dddddd;
}

.profile_field {
	width:32%;
	display: inline-block;
	vertical-align: middle;
	float:left;
}

.form-inline .profile_label {
	padding:0 20px 0 0;
	color:#626262;
	margin: 0;
	font-size: 14px;
}

.main_profile form.form-inline select.dropdown-toggle {
	width:99.98%;
	padding: 6px;
	text-align: left;
	border-radius: 0;
	background: #ffffff;
	box-shadow: none;
	float:left;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    line-height: 28px;
}

.main_profile .profile_input {
	/* width:80%; */
	border-radius: none;
	/* display:block; */
	/*width:100%;*/
	/*height:28px;*/
	padding:6px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff !important;
	background-image:none;
	border:1px solid #ccc;
	/* border-radius:4px; */
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	width:65%;
	position:relative;
}
	/*.form-control:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}*/

.main_profile .field_space {
	margin: 15px /*-15px*/0;
}

.main_profile .dropdown-toggle .caret {
	position:absolute;
	top:50%;
	right:12px;
}

button.main_profile_btn {
	background: #eb181e;
	color:#ffffff;
	border-radius:3px;
	border: 0 none;
	padding: 4px 20px;
	float:left;
	font-weight: normal;
	font-size: 18px;
	text-shadow: none;
}

button.main_profile_btn:hover {
	background: #fe5459;
	color:#000000;
}
button.main_profile_btn:active {
	background: #fe5459;
	color:#000000;
}
button.main_profile_btn:focus {
	background: #fe5459;
	color:#000000;
}
button.main_profile_btn:first-child {
	margin-right: 12px;
}

.dropdown.profile_field_select {
    display: inline-block;
    width: 65%;
	float:left;
}

.row.main_profile_title {
    margin: 0;
}

.row.main_profile_submit {
	margin: 0;
}

.main_profile .main_profile_title h2 {
	margin:0;
	padding:12px;
	background: #fafafa;
	border-bottom:1px solid #dddddd;border-top:1px solid #dddddd;
	font-size: 18px;
	min-height: auto !important;
}

.main_profile_submit {
	margin:0;
	padding:12px;
	background: #fafafa;
	border-top:1px solid #dddddd;
}

.update_section {
  float: left;
  width: 100%;
  clear: both;
  border-top: 1px solid #ccc;
  padding: 9px 7px 0px 12px;
  margin-bottom: 10px;
}
.update_section ul {
  margin: 0;
  padding: 0;
  float: left;
  width:36%;
  list-style: none;
}
.update_btn {
  float: right;
  width:auto;
  margin: 15px 0 15px 0;
}
.update_section ul li {
  float: left;
  padding:6px 0px;
  font-size: 16px;
}
.update_section ul li.left_first {
  float: left; font-weight:bold;
  padding:6px 0px; width:/*190px*/200px;
  font-size: 14px;
}
.toggle {
background: #DFF0D8;
margin: -34px auto 0 auto;
color: #468847;
font-size: 14px;
font-weight: bold;
padding: 5px 0;
display: none;
width: 40%;
border: 1px solid #D6E9C6;
}
.set_update_con {
    float: left;
    width: 56%;
}
.left_first {
    float: left;
    width: 24%;
	padding: 7px 0px;
	font-size: 16px;
	font-weight:bold;
	}
.cont_name {
    float: left;
    width: 76%;
	padding: 7px 0px;
	font-size: 16px;
}

#logsectform .form-group.log_btn input.btn:hover, #logsectform a.cancel-den:hover{background:#fe5459; color:#000;}

/* ------------ media device screen css -------------- */

@media only screen and (min-width:768px) and (max-width:1024px){
	.main_profile_btn { 
		-moz-appearance: none !important;
		-webkit-appearance: none !important;
	}
	
	.update_section ul { width: 55%; }
	.update_section ul li.left_first, .update_section ul li { min-width: 190px; }
}

@media only screen and (max-width: 767px) {
	.main_profile .form-group {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.update_section { position: relative; }
	.update_btn { position: absolute; float:left; }
	.update_section ul li.left_first, .update_section ul li {
    width: 180px;
	}
	.update_section ul { width: 55%; padding: 62px 0 0; }
}

@media only screen and (max-width:640px) {
	.main_profile .profile_input {
		width:55%;
	}
	.profile_field {
		width: 42%;
		padding:0;
	}
	.dropdown.profile_field_select {
    width: 55%;
	}
	.form-group {
    	margin-bottom: 0;
	}
}

@media only screen and (max-width:480px) {
	.row.field_space {
    	margin-bottom: 0;
    	margin-top: 0;
	}
	.main_profile form.form-inline .field_space .form-group.col-xs-6 {
		width: 100%;
	}
	.main_profile form.form-inline {
    margin: 15px 0 0 0;
	}
}

@media only screen and (max-width:360px) {
	.main_profile form.form-inline .field_space .form-group.col-xs-6 {
		width: 100%;
	}
	.row.field_space {
    margin-bottom: 0;
    margin-top: 0;
	}
	.main_profile form.form-inline {
    margin: 15px 0 0 0;
	}
	.update_section ul li.left_first { width: 100%; }
	.update_section ul { width: 100%; padding: 62px 0 0; }
	.update_section { position: relative; }
	.update_btn { position: absolute; float:left; }
}

@media only screen and (max-width: 384px) {
	.update_section ul li.left_first { width: 100%; }
	.update_section ul { width: 100%; padding: 62px 0 0; }
	.update_section { position: relative; }
	.update_btn { position: absolute; float:left; }
}	
 


.container.resource_page .table-responsive table.product_download tr th.last-downloadmain{border-right: 1px solid #959595;}