@import url(http://fonts.googleapis.com/css?family=Roboto);

body{margin:0; padding:0; font-family: 'Roboto', sans-serif; font-size:16px; color:#616161;}
_::-moz-svg-foreign-content, :root body{margin:0; padding:0; font-family: 'Roboto', sans-serif; font-size:14px; color:#616161; font-weight:normal;}
@media all and (-webkit-min-device-pixel-ratio: 0) { .container{font-family: font-family: 'Roboto', sans-serif !important; font-size:14px; color:#616161; font-weight:500 !important;}}

.wrapper{float:left; width:100%;}
.header{float:left; width:100%; background-color:#eb181e;}
.logo{float:left;}
.rt_menu{float:right; width:50%;}
.pro_menu{float:right; background-color:#fe5459;}
.pro_menu span{float:left; width:30px; margin:21px 14px 21px 14px;}
.pro_menu span img{width:100%;}
.pro_text{float:left; color:#FFFFFF; margin:25px 15px 0 0; font-size:18px;}
a{ outline:none;}
a:hover, a:focus{ outline:none;}
.nav > li > a:focus, .nav > li > a:hover{ background:none !important; outline:none; border:none;}
.hvr-rectangle-out:before {
  content: "";
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  width:150px; height:78px;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/*Header section css code*/
header.headsection {
    background: none repeat scroll 0 0 #d1d2d4;
    border-bottom:4px solid #ed2027;
    float: left;
    width: 100%;
}
.main_section .col-lg-8 {
    padding: 0;
    width:60%;
}
header.headsection .main_section .col-lg-8 .logo {
    margin:20px 0 19px 0;
}
.main_section .header_rtsection {
    padding: 0;
   /* width: 45%;*/
}
.main_section .header_rtsection .bs-example .navbar #navbarCollapse {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.main_section .header_rtsection .bs-example {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    margin-top:60px;
    width: 100%;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.firstt_sect a {
    border-radius: 4px 0 0;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.last_sect a span {
  display: none;
}
.bs-example .nav.navbar-nav.profile_sect {
    border-left: medium none;border-right:2px solid #de797d; 
}
.main_section .header_rtsection .bs-example nav.navbar {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    float: right;
    height: auto;
    margin: 0;
    min-height: auto;
    padding: 0;
    width: auto;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li{ border-right: 1px solid #de797d;}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a {
    color: #fff;
    font-size: 17px; 
    font-weight: normal;
    line-height: normal;
    padding:15px 20px; outline:none;
    text-shadow: none; background:none repeat scroll 0 0 #ed2027;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a:hover {
    color: #000; background:#f5b0a0 !important;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a.active{
    color: #000; background:#f5b0a0 !important;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a:focus{background:#f5b0a0 !important;}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.active a {
    color: #000; background:#ff999c !important; border: medium none;
    box-shadow: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a{  background:none !important; border: medium none;}
.main_section .header_rtsection .bs-example ul.nav.navbar-right.profile_sect {
    display: block;
    float: left !important;
    margin: 0 0 0 -2px !important;
    text-align: left;
    width: auto; background:#fe5459;
}
.bs-example .nav.navbar-nav {
border-top:2px solid #de797d; border-left:2px solid #de797d;border-right:2px solid #de797d; border-radius: 6px 6px 0 0;}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.last_sect a {
border-radius: 0 3px 0 0;
border-right: medium none;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.last_sect{
border-radius: 0 3px 0 0;
border-right: medium none;
}
.main_section .header_rtsection .bs-example ul.nav.navbar-right.profile_sect li a {
    color: #000;
    font-size: 17px;
    font-weight: normal;
    line-height: normal;
    padding:25px 28px 25px 28px;
    text-shadow: none;
}
.main_section .header_rtsection .bs-example ul.nav.navbar-right.profile_sect li a:hover {
    background: none repeat scroll 0 0 #ff999c;
    color: #fff;
}
.nav.navbar-nav.navbar-right.profile_sect img {
    float: left;
    height: 30px;
    margin: 1px 5px 0 0;
    width: 30px;
}
.nav.navbar-nav.navbar-right.profile_sect li a span{ background:url(../img/profile_icon.png) no-repeat; float: left;
    height: 30px; display:none;
    margin: 1px 5px 0 0;
    width: 30px;}
	.nav.navbar-nav.navbar-right.profile_sect li a:hover span{ background:url(../img/profile_icon_hover.png) no-repeat; float: left;
    height: 30px;
    margin: 1px 5px 0 0;
    width: 30px;}
	.nav.navbar-nav.navbar-right.profile_sect li a span:hover{ background:url(../img/profile_icon_hover.png) no-repeat; float: left;
    height: 30px;
    margin: 1px 5px 0 0;
    width: 30px;}
/*Header section css code*/

/*middle section css code*/
.middle_section {
    float: left;
    width: 100%; 
}
.middle_section .page_title {
    border-bottom: 1px solid #ccc; padding-left: 2px;
}
.middle_section .container.detail_page {
    margin-top: 50px;margin-bottom: 100px;
}
.container.detail_page #inform.col-lg-6 {
    border-left: 1px solid #000;
    padding: 0 0 0 30px;
}
.container.detail_page #inform.col-lg-6 .car_name {
    color: #616161;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
    padding: 0 0 7px;
}
.container.detail_page #inform.col-lg-6 p.discription_text {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 15px;
    text-align: justify;
}
.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td {
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 0;
}
.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td.ul_right {
    float: left;
    margin: 0 0 0 30px !important;
}
.middle_section .page_title h2 {
    font-size: 20px;
    font-weight: bold;
}
.container.news_page .row .col-lg-12 span.heading_title {
    background: none repeat scroll 0 0 #eb181e;
    float: left;
    padding:12px 0px 12px 20px;
    width: 100%; margin:15px 0px; color:#fff; font-size:16px; font-weight:600;
}
.container.news_page {
    margin-bottom: 50px;
    padding-left: 2px;
}
.container.news_page .row .col-lg-12 {
    padding-right: 0;
}
.container.news_page ul.news_list {
    float: left;
    list-style: outside none none;
    margin: 0 0 0 0px;
    width: 100%;
}
.container.news_page ul.news_list li {
    font-size: 16px;
    padding: 3px 0;
}
.container.news_page ul.news_list li.month {
    font-weight: 600;
}

/*News page css code*/

/*resource_page  css code*/
.container.resource_page .table-responsive table.product_download tr th {
    background: none repeat scroll 0 0 #eb181e;
    border-right: 1px solid;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 10px 10px 14px;
    text-align: left;  vertical-align: middle;
}
.container.resource_page .table-responsive table.product_download tr th span {
    clear: both;
    float: left;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
}
.container.resource_page {
    margin: 24px auto 50px;
    padding: 0;
}
.container.resource_page .table-responsive table.product_download {
    border: 1px solid #959595;
}
.container.resource_page .table-responsive table.product_download tr.prod_inst td {
    border-right: 1px solid #959595;
	 border-top: 1px solid #959595;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 15px 22px 14px;
}
.container.resource_page .table-responsive table.product_download tr.prod_inst {
    border-top: 1px solid #959595;
}
.prod_inst span {
    margin: 0 0 0 12px;
}
.coolgear img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/*resource_page  css code*/

/*search_page  css code*/

.container.search_page {
    padding: 0;
}
.container.search_page .row .col-lg-12 p {
    color: #000;
    font-size: 16px;
    line-height: 22px;
    margin: 20px 0 20px 0px;
}
.container.search_page_select {
    margin-bottom: 15px;
    margin-top: 25px;
    padding-left: 0;
}
.container.search_page_select .row .col-lg-3 select.selectpicker {
    height: 36px;
    padding: 1px 5px 2px 7px;
    width: 98%;
}

.container.Addvance_view {
    padding-left: 0; margin-bottom:30px;
}
.container.Addvance_view .row .col-lg-6.left_side {
    border: 1px solid #ccc;
    max-height: 257px;
    overflow: auto;
    padding:12px 10px 10px 20px;
}
.Addvance_view .row {
    margin: 0;
}
.container.Addvance_view .row .col-lg-6.left_side ul{ margin:0px; padding:0px; list-style:none;}

.container.Addvance_view .row .col-lg-6.left_side ul span {
    float: left;
    font-weight: bold;
    padding: 0;
    width: 100%;
}
.container.Addvance_view .row .col-lg-6.left_side ul li {
    float: left;
    padding: 0px 0 0 9px;
    width: 100%;
}
.container.Addvance_view .row .col-lg-6.left_side ul.second_list {
    float: left;
    margin: 14px 0 0px;
}
.Addvance_view .col-lg-6.right_side form label.checkbox-inline {
    float: left;
    padding: 0 0 10px;
    width: auto;
}
.Addvance_view .col-lg-6.right_side form label.checkbox-inline span {
    float: left;
    font-size: 16px;
    font-weight: 600;
}
.container.Addvance_view .row .col-lg-6.right_side form .checkbox_fild {
    float:left;
    margin: 5px 0 0 9px;
    padding: 0;
}
.Addvance_view .col-lg-6.right_side p {
    float: left;
    font-size: 14px; line-height:24px;
    margin: 0 0 20px;
    width: 100%;
}
.container.Addvance_view .row .col-lg-6.left_side ul.second_list {
    margin: 12px 0 3px 0px;
}
.Addvance_view .col-lg-6.right_side .submit_btn button.sub_btn {
    background:none repeat scroll 0 0 #eb181e;
    border: 1px solid #c51419;
    color: #fff;border-radius: 4px;
    font-size: 18px;
    font-weight: normal;
    height: auto;
    padding: 8px 24px;
    text-shadow: none;
}
.Addvance_view .col-lg-6.right_side .submit_btn button.sub_btn:hover{ background:#fe5459; color:#000;}

.Addvance_view .col-lg-6.right_side .submit_btn {
    float: left;
}
.middle_section .row p {
    text-align: justify;
}
.nav.navbar-nav.navbar-right.profile_sect li a button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    outline: medium none;
    padding: 0;
    text-shadow: none;
}

.main_section .col-lg-4 .bs-example ul.nav.navbar-right.profile_sect li a:hover button  {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    padding: 0; color:#000; text-shadow:none;
}
.nav.navbar-nav.navbar-right.profile_sect li a button:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    padding: 0; color:#000; text-shadow:none;
}
/*search_page  css code*/



/*Login Section*/
#login_popup .modal-header {
   background: -o-linear-gradient(bottom, #e7eaee , #dadfe3);
background: -moz-linear-gradient(bottom, #e7eaee, #dadfe3);
background: -webkit-linear-gradient(bottom, #e7eaee, #dadfe3);
background: -ms-linear-gradient(bottom, #e7eaee, #dadfe3);
background: linear-gradient(to bottom, #e7eaee, #dadfe3);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eaee', endColorstr='#dadfe3',GradientType=0 );
    border-bottom: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    font-size: 25px !important;
    min-height: auto;
    padding: 10px;
    text-align: center;
    width: 100%; margin:1px 0px;
}
#login_popup .modal-body label{ color:#555555;}

#login_popup .modal-header h4{font-size: 22px !important;}
#login_popup .modal-content {
    width: 100%; background: none repeat scroll 0 0 #f3f5f7;
}
#login_popup .modal-footer button.btn {
    background: none repeat scroll 0 0 #eb181e;
    border: 1px solid #c51419;
    color: #fff;
    font-size: 18px;
    padding: 7px 0 8px;
    text-shadow: none;
    width: 63%;
}
#login_popup .modal-footer button.btn:hover{ background:#fe5459; color:#000;}
#login_popup .modal-footer {
    border: medium none;
    padding: 0 0 15px;
    text-align: center;
}
.form-group.forgot_pass label {
    display: block;
    text-align: center;
}
.form-group.forgot_pass {
    margin: 0;
}
#login_popup .modal-body {
    padding-bottom: 10px;
}
#login_popup .modal-content .modal-header button{opacity: 1;}
#login_popup .modal-content .modal-header button.close span {
    color: #ff0000;
    font-size: 32px;
    opacity: 1;
}
#login_popup {
    left: 36%;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    width: 25%;
}
#login_popup .modal-footer button.btn:focus {
    outline: medium none;
}
#login_popup .modal-content .modal-header button.close span img {
    outline: medium none;width: 22px; height:22px;
}
.login_detail_section {
    background: none repeat scroll 0 0 #f3f5f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    float: none;
    margin: 35px auto;
    width: 30%;
    clear:both;
}

.login_detail_section .logtitle {
background: -o-linear-gradient(bottom, #e7eaee , #dadfe3);
background: -moz-linear-gradient(bottom, #e7eaee, #dadfe3);
background: -webkit-linear-gradient(bottom, #e7eaee, #dadfe3);
background: -ms-linear-gradient(bottom, #e7eaee, #dadfe3);
background: linear-gradient(to bottom, #e7eaee, #dadfe3);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eaee', endColorstr='#dadfe3',GradientType=0 );
    border-radius: 4px 4px 0 0;
    font-size: 17px;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
}
.login_detail_section #logsectform {
    border: 1px solid #fff;
    margin: 2px;
    padding: 25px;
}
.login_detail_section #logsectform .form-group input {
    height: auto;
    padding: 10px 5px;
    width: 100%;
}
#login_popup .modal-footer button.btn:hover{ background:#fe5459; color:#000;}
#logsectform .form-group.log_btn button.btn,#logsectform .form-group.log_btn input.btn {
    background: none repeat scroll 0 0 #eb181e;
    border: medium none;
    display: block;
    margin: 0px 0 0; color: #fff;
    font-size: 18px;
    padding: 7px 0 8px;text-shadow: none;
    width: 100%;
}
#logsectform .form-group.log_btn button.btn:hover{ background:#fe5459; color:#000;}
#logsectform .form-group.log_btn {
    margin-bottom: 0;
}
.page_width button:focus {
    outline: medium none !important;
}
.page_width a:focus {
    outline: medium none !important;
}
.page_width input:focus {
    outline: medium none !important;
}
.form-group.forgot_pass label a {
    color: #000;
}
.col-md-4.mar {
    padding: 9px;
}


/*Login Section*/


/*middle_section css code*/
.footer_section { float:left; width:100%; border-top:2px solid #cacaca;}
.footer_section .foot_text .col-lg-12 p{ text-align:right; padding:15px 0px;font-size: 14px;}


.container.resource_page .table-responsive table.product_download tr.prod_inst td:last-child {
    border-bottom: medium none;
    border-right: medium none;
}
#login_popup .modal-header .close {
    margin-top: -4px;
}

.comeing_soon {
    font-size: 26px;
    min-height: 300px;
    text-align: left;
}

.middle_section .profile_sect h2 {
    font-size: 20px;
    font-weight: bold;
}
.comeing_soon h2 {
    font-size: 22px;
    min-height: 300px;
    text-align: left;
}
.container.page_title.profile_sect {
    border: medium none;
}
.validationerror{
color:red;
}
.clear {
    clear: both;
}
/*.log_btn .col-lg-6{padding:0 20px 0 0;}*/

a.cancel-den{
    background: none repeat scroll 0 0 #EB181E;
    border: medium none;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 7px 0 8px;
    text-shadow: none;
    width: 100%;
}
a.cancel-den:hover{color:#fff;}
.mar .alert{margin:0px 0 0 0;}

.Login_Register_section{ min-height:500px;}



