
@media only screen and (max-width:1280px) {
/*.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a {
    padding:15px 25px;
}
.main_section .col-lg-4 .bs-example ul.nav.navbar-right.profile_sect li a {
    padding: 10px 20px;
}
heder.headsection .main_section .col-lg-8 .logo {
    margin:30px;
}
.main_section .col-lg-4 .bs-example {
    margin-top:8%;
    width: 100%;
}*/
.main_section .header_rtsection {
    float: left;
    padding: 0;
    width: 52%;
}
.main_section .col-lg-8 {
    float: left;
    padding: 0;
    width: 48%;
}
}
@media only screen and (max-width:1024px) {
/*.main_section .col-lg-4 .bs-example nav.navbar {
    width: 73%;
}*/
.main_section .col-lg-6 {
    float: left;
    padding: 0;
    width: 52%;
}
.main_section .header_rtsection {
    float: left;
    padding: 0;
    width: 48%;
}
/*.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a {
    padding: 28px 50px 26px 5px;
}*/
.middle_section .container.detail_page {
    padding: 0;
}
.detail_page .col-lg-6 img {
    width: 100%;
}
.middle_section .container.detail_page .row .col-lg-6 {
    float: left;
    width: 48%;
}
.container.resource_page {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.container.search_page_select .row .col-lg-3 {
    float: left;
    width: 25%;
}
.container.Addvance_view .row .col-lg-6 {
    float: left;
    width: 48%;
}
.container.Addvance_view .row .col-lg-6.left_side {
    padding: 20px 10px 20px 20px;  max-height: 270px;
}
.container.Addvance_view .row .col-lg-6.left_side ul li {
    padding: 2px 0 2px 9px;
}
#login_popup {
    left: 36%;
    margin: 0 auto;
    position: absolute;
    top: 8%;
    width: 35%;
}
.login_detail_section {
    width: 40%;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a {
    padding:15px 20px;
}

}
@media only screen and (max-width:1000px) {
.page_width .container {
    width: 95%;
}
}
@media only screen and (max-width:980px) {
heder.headsection .container.main_section {
    float: left;
    width: 100%;
}
.main_section .header_rtsection {
    float: left;
    padding: 0;
    width:48%;
}
.main_section .col-lg-8 {
    width:51%; padding:0 15px;
}

.middle_section .container.detail_page {
    float: left;
    padding: 0 10px;
    width: 100%;
}
.middle_section .page_title {
    border-bottom: 1px solid #ccc;
    float: left;
    padding: 0 20px;
    width: 100%;
}
.container.news_page {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.container.news_page .row .col-lg-12 {
    padding-right: 15px;
}
.container.news_page .row {
    float: left;
    margin: 0;
    width: 100%;
}
.container.search_page {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.container.search_page_select {
    float: left;
    margin-bottom: 15px;
    margin-top: 25px;
    padding: 0 15px;
    width: 100%;
}
.container.Addvance_view {
    float: left;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 100%;
}
.login_detail_section {
    width: 55%;
}
.container.resource_page {
    float: left;
    width: 100%;
}
}
@media only screen and (max-width:865px) {
.main_section .header_rtsection {
    float: left;
    padding: 0;
    width:57%;
}
.main_section .col-lg-8 {
    width:42%; padding:0 15px;
}
heder.headsection .container.main_section {
    float: left;
    width: 100%;
}
}
@media only screen and (max-width:800px) {
.main_section .col-lg-8 {
    width: 39%; }
.main_section .header_rtsection {
    float: left;
    padding: 0;
    width: 61%;
}
#login_popup {
    left: 30%;
    margin: 0 auto;
    position: absolute;
    top: 6%;
    width: 42%;
}

}
@media only screen and (max-width:768px) {
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a {
    padding: 15px 25px;
}
heder.headsection .main_section .col-lg-8 #loginpage_logo{
    margin: 15px 0px !important;
}
}
@media only screen and (max-width:767px) {
.main_section .header_rtsection .bs-example .navbar-collapse.in{ overflow:hidden !important;}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a {
  padding: 14px 20px 15px 68px;
  font-size: 17px; margin:0px;
}
.main_section .header_rtsection .bs-example nav.navbar .navbar-header button {
background: none repeat scroll 0 0 #f5b0a0;
 border: 1px solid #de797d;
border-radius:7px;
float: right;
margin: 0;
padding:10px;
position: absolute;
right:0px;
top: -35px;
}
.bs-example span.icon-bar {
  background-color: #fff !important;
}
.main_section .header_rtsection .bs-example .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 1px;
}
.main_section .col-lg-8 {
  width: 100%;margin: 0;
    padding: 0;
}
.main_section .header_rtsection {
  padding: 0;
  width: 100%;
  position: relative;
  float: left;
  margin:-35px 0 0 0; 
}
.main_section .header_rtsection .bs-example {
  float: none;
  margin-top: 0px;
  width: 100%;
}

.logo {
  margin: 15px 0px 15px 0;
}
.main_section .header_rtsection .bs-example nav.navbar {
  float: left;
  width:100%;
}
.main_section .header_rtsection .bs-example .navbar #navbarCollapse {
  float: left;
  margin: 37px 0 0 0;
  padding: 0;
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius:10px;
}
.bs-example .nav.navbar-nav {
 border:none;  border-radius:0px;
  margin: 0px 0 0px 0px;
  width: 100%;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.firstt_sect a {
  border-radius: 0;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.last_sect a {
  border-radius:0px;
  border-right: medium none;
}
heder.headsection .container.main_section .row {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li {
    border:1.2px solid #de797d !important; box-shadow:none;margin: 0 0 -1px;
}
}
@media only screen and (max-width:640px) {

.middle_section .container.detail_page .row {
float: left;
margin: 0;
width: 100%;
}
#login_popup {
    left: 24%;
    margin: 0 auto;
    position: absolute;
    top: 14%;
    width: 53%;
}
.login_detail_section {
    width: 70%;
}
heder.headsection .container.main_section .row {
    float: left;
    margin: 0;
    padding: 0 15px;
    width: 100%;
}
.middle_section .container.detail_page .row .col-lg-6 {
    float: left;
    width: 100%;
}
.container.detail_page #inform.col-lg-6 {
    border-left: medium none;
    padding: 0 15px;
}
.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td {
    float: left;
    width: 140px;
}
.detail_info table.detail_table {
    margin: 0 auto;
}
.middle_section .container.detail_page {
    margin-bottom: 20px;
    margin-top: 10px;
}
.footer_section .foot_text .col-lg-12 p {
    padding:20px 0 5px 0px;
    text-align: center;
}
.container.search_page_select .row .col-lg-3 {
    float: left;
    width: 47%;
}
.container.Addvance_view .row .col-lg-6 {
    float: left;
    width: 99%;   margin-bottom: 20px;padding-left: 0;
}
#login_popup {
    left: 12%;
    margin: 0 auto;
    position: absolute;
    top: 41%;
    width: 75%;
}
.login_detail_section {
    margin: 10% 0;
    width: 100%;
}
.container.Login_Register_section .row {
    float: left;
    margin: 0;
    width: 100%;
}
.container.Login_Register_section .row .col-lg-12 {
    margin: 0;
    padding: 0;
}
.container.Login_Register_section .row {
    float: left;
    margin: 0;
    width: 100%;
}
.container.Login_Register_section {
    margin: 0;
    padding: 10px 20px 10px 15px;
}
.container.main_section .row {
    float: left;
    margin: 0;
    width: 100%;
}
heder.headsection .container.main_section {
    float: left;
    padding: 0;
    width: 100%;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a {
    font-size: 17px;
    margin: 0;
    padding: 14px 20px 15px 25px;
}
}
@media only screen and (max-width:480px) {
.container.Login_Register_section {
    width: 100%;
}

}
@media only screen and (max-width:360px) {

.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td {
    float: none;
    width: auto;
}
.container.resource_page .table-responsive table.product_download tr.prod_inst td {
    padding:20px 15px 22px 15px;
}
.coolgear img {
    display: inline;
    margin: 0;
    text-align: left;
    width: 100%;
}
.container.search_page_select .row .col-lg-3 {
    float: left;
    padding: 0 10px;
    width: 50%;
}
.container.Addvance_view {
    margin-bottom: 5px;
}
#login_popup {
    left: 4%;
    margin: 0 auto;
    position: absolute;
    top: 21%;
    width: 88%;
}

}
@media only screen and (max-width:320px) {
#login_popup {
    left: 5%;
    margin: 0 auto;
    position: absolute;
    top: 27%;
    width: 88%;
}

}
























