@import url(http://fonts.googleapis.com/css?family=Roboto);

body{margin:0; padding:0; font-family: 'Roboto', sans-serif; font-size:16px; color:#616161;}
_::-moz-svg-foreign-content, :root body{margin:0; padding:0; font-family: 'Roboto', sans-serif; font-size:14px; color:#616161; font-weight:normal;}
a{ margin:0px; padding:0px; outline:none; text-decoration:none;}
a:hover{ margin:0px; padding:0px; outline:none; text-decoration:none;}
a:focus{ margin:0px; padding:0px; outline:none; text-decoration:none;}
ul{ margin:0px; padding:0px; list-style:none;}
input{ outline:none; text-decoration:none;}
button{ outline:none !important;}
button:focus{ outline:none !important;}
a:focus {outline: none;outline-offset:0px;}
button:focus{ outline:none;}
html{ margin:0px; padding:0px; line-height:normal;}

html { -webkit-text-size-adjust: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body {-webkit-text-size-adjust: 100%;}
html {-webkit-font-smoothing: none;}
.clear{ clear:both;}
@media all and (-webkit-min-device-pixel-ratio: 0) {
.container{font-family: font-family: 'Roboto', sans-serif !important; font-size:14px; color:#616161; font-weight:500 !important;}
}
.wrapper{float:left; width:100%;}
.header{float:left; width:100%; background-color:#eb181e;}
.logo{float:left;}
heder.headsection .main_section .col-lg-8 .logo h1 {margin: 0;padding: 0;}
.rt_menu{float:right; width:50%;}
.pro_menu{float:right; background-color:#fe5459;}
.pro_menu span{float:left; width:30px; margin:21px 14px 21px 14px;}
.pro_menu span img{width:100%;}
.pro_text{float:left; color:#FFFFFF; margin:25px 15px 0 0; font-size:18px;}
a{ outline:none;}
a:hover, a:focus{ outline:none;}
.nav > li > a:focus, .nav > li > a:hover{ background:none !important; outline:none; border:none;}
.hvr-rectangle-out:before {content: "";position: relative;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;background: #2098d1;-webkit-transform: scale(0);transform: scale(0);-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;width:150px; height:78px;}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {color: white;}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {-webkit-transform: scale(1);transform: scale(1);}

/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;background: #2098d1;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;}
.hvr-shutter-in-horizontal:before {content: "";position: absolute;z-index: -1;top: 0;bottom: 0;left: 0;right: 0;background: #e1e1e1;-webkit-transform: scaleX(1);transform: scaleX(1);-webkit-transform-origin: 50%;transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {color: white;}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {-webkit-transform: scaleX(0);transform: scaleX(0);}

/*Header section css code*/
heder.headsection {background: none repeat scroll 0 0 #d1d2d4;border-bottom:4px solid #ed2027;float: left;width: 100%;}
.main_section .col-lg-8 {padding: 0;width:60%;}
heder.headsection .main_section .col-lg-8 .logo {margin:20px 0 19px 0;}
.main_section .col-lg-4 {padding: 0;width: 40%;}
.main_section .col-lg-4 .bs-example .navbar #navbarCollapse {float: left;margin: 0;padding: 0;width: 100%;}
.main_section .col-lg-4 .bs-example {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;float: left;margin-top:60px;width: 100%;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li.firstt_sect a {border-radius: 4px 0 0;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li.last_sect a span {display: none;}
.bs-example .nav.navbar-nav.profile_sect {border-left: medium none;border-right:2px solid #de797d; }
.main_section .col-lg-4 .bs-example nav.navbar {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;box-shadow: none;float: right;height: auto;margin: 0;min-height: auto;padding: 0;width: auto;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li{ border-right: 1px solid #de797d;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a {color: #fff;font-size: 17px; font-weight: normal;line-height: normal;padding:15px 20px; outline:none;text-shadow: none; background:none repeat scroll 0 0 #ed2027;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a:hover {color: #000; background:#f5b0a0 !important;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a.active{color: #000; background:#f5b0a0 !important;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a:focus{background:#f5b0a0 !important;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li.active a {color: #000; background:#ff999c !important; border: medium none;box-shadow: none;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a{  background:none !important; border: medium none;}
.main_section .col-lg-4 .bs-example ul.nav.navbar-right.profile_sect {display: block;float: left !important;margin: 0 0 0 -2px !important;text-align: left;width: auto; background:#fe5459;}
.bs-example .nav.navbar-nav {border-top:2px solid #de797d; border-left:2px solid #de797d;border-right:2px solid #de797d; border-radius: 6px 6px 0 0;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li.last_sect a {border-radius: 0 3px 0 0;border-right: medium none;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li.last_sect{border-radius: 0 3px 0 0;border-right: medium none;}
.main_section .col-lg-4 .bs-example ul.nav.navbar-right.profile_sect li a {color: #000;font-size: 17px;font-weight: normal;line-height: normal;padding:25px 28px 25px 28px;text-shadow: none;}
.main_section .col-lg-4 .bs-example ul.nav.navbar-right.profile_sect li a:hover {background: none repeat scroll 0 0 #ff999c;color: #fff;}
.nav.navbar-nav.navbar-right.profile_sect img {float: left;height: 30px;margin: 1px 5px 0 0;width: 30px;}
.nav.navbar-nav.navbar-right.profile_sect li a span{ background:url(../img/profile_icon.png) no-repeat; float: left;
height: 30px; display:none;margin: 1px 5px 0 0;width: 30px;}
.nav.navbar-nav.navbar-right.profile_sect li a:hover span{ background:url(../img/profile_icon_hover.png) no-repeat; float: left;height: 30px;margin: 1px 5px 0 0;width: 30px;}
.nav.navbar-nav.navbar-right.profile_sect li a span:hover{ background:url(../img/profile_icon_hover.png) no-repeat; float: left;height: 30px;margin: 1px 5px 0 0;width: 30px;}/*Header section css code*/

/*middle section css code*/
.middle_section {float: left;width: 100%;}
.middle_section .page_title {border-bottom: 1px solid #ccc; padding-left: 2px;}
.middle_section .container.detail_page {margin-top: 50px;margin-bottom: 100px;}
.container.detail_page #inform.col-lg-6 {border-left: 1px solid #000;padding: 0 0 0 30px;}
.container.detail_page #inform.col-lg-6 .car_name {color: #616161;font-size: 20px;font-weight: bold;line-height: normal;margin: 0;padding: 0 0 7px;}
.container.detail_page #inform.col-lg-6 p.discription_text {font-size: 16px;line-height: 22px;margin: 0 0 15px;text-align: justify;}
.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td {color: #3a3a3a;font-size: 14px;font-weight: 600;padding: 4px 0;}
.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td.ul_right {float: left;margin: 0 0 0 30px !important;}
.middle_section .page_title h2 {font-size: 20px;font-weight: bold;}
.container.news_page .row .col-lg-12 span.heading_title {background: none repeat scroll 0 0 #eb181e;float: left;padding:12px 0px 12px 20px;width: 100%; margin:15px 0px; color:#fff; font-size:16px; font-weight:600;}
.container.news_page {margin-bottom: 50px;padding-left: 2px;}
.container.news_page .row .col-lg-12 {padding-right: 0;}
.container.news_page ul.news_list {float: left;list-style: outside none none;margin: 0 0 0 0px;width: 100%;}
.container.news_page ul.news_list li {font-size: 16px;padding: 3px 0;}
.container.news_page ul.news_list li.month {font-weight: 600;}
/*News page css code*/

/*resource_page  css code*/
.container.resource_page .table-responsive table.product_download tr th {background: none repeat scroll 0 0 #eb181e;border-right: 1px solid;color: #fff;font-size: 16px;font-weight: bold;padding: 15px 10px 10px 14px;text-align: left;  vertical-align: middle;}
.container.resource_page .table-responsive table.product_download tr th span {clear: both;float: left;font-size: 16px;font-weight: normal;width: 100%;}
.container.resource_page {margin: 24px auto 50px;padding: 0;}
.container.resource_page .table-responsive table.product_download {border: 1px solid #959595;}
.container.resource_page .table-responsive table.product_download tr.prod_inst td {border-right: 1px solid #959595;border-top: 1px solid #959595;color: #000;font-size: 16px;
font-weight: 600;padding: 20px 15px 22px 14px;}
.container.resource_page .table-responsive table.product_download tr.prod_inst {border-top: 1px solid #959595;}
.prod_inst span {margin: 0 0 0 12px;}
.coolgear img {display: block;margin: 0 auto;text-align: center;}
/*resource_page  css code*/

/*search_page  css code*/
.container.search_page {padding: 0;}
.container.search_page .row .col-lg-12 p {color: #000;font-size: 16px;line-height: 22px;margin: 20px 0 20px 0px;}
.container.search_page_select {margin-bottom: 15px;margin-top: 25px;padding-left: 0;}
.container.search_page_select .row .col-lg-3 select.selectpicker {height: 36px;padding: 1px 5px 2px 7px;width: 98%;}
.container.Addvance_view {padding-left: 0; margin-bottom:30px;}
.container.Addvance_view .row .col-lg-6.left_side {border: 1px solid #ccc;max-height: 257px;overflow: auto;padding:12px 10px 10px 20px;}
.Addvance_view .row {margin: 0;}
.container.Addvance_view .row .col-lg-6.left_side ul{ margin:0px; padding:0px; list-style:none;}
.container.Addvance_view .row .col-lg-6.left_side ul span {float: left;font-weight: bold;padding: 0;width: 100%;}
.container.Addvance_view .row .col-lg-6.left_side ul li {float: left;padding: 0px 0 0 9px;width: 100%;}
.container.Addvance_view .row .col-lg-6.left_side ul.second_list {float: left;margin: 14px 0 0px;}
.Addvance_view .col-lg-6.right_side form label.checkbox-inline {float: left;padding: 0 0 10px;width: auto;}
.Addvance_view .col-lg-6.right_side form label.checkbox-inline span {float: left;font-size: 16px;font-weight: 600;}
.container.Addvance_view .row .col-lg-6.right_side form .checkbox_fild {float:left;margin: 5px 0 0 9px;padding: 0;}
.Addvance_view .col-lg-6.right_side p {float: left;font-size: 14px; line-height:24px;margin: 0 0 20px;width: 100%;}
.container.Addvance_view .row .col-lg-6.left_side ul.second_list {margin: 12px 0 3px 0px;}
.Addvance_view .col-lg-6.right_side .submit_btn button.sub_btn {background:none repeat scroll 0 0 #eb181e;border: 1px solid #c51419;color: #fff;border-radius: 4px;font-size: 18px;font-weight: normal;height: auto;padding: 8px 24px;text-shadow: none;}
.Addvance_view .col-lg-6.right_side .submit_btn button.sub_btn:hover{ background:#fe5459; color:#000;}
.Addvance_view .col-lg-6.right_side .submit_btn {float: left;}
.middle_section .row p {text-align: justify;}
.nav.navbar-nav.navbar-right.profile_sect li a button {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;border-radius: 0;box-shadow: none;outline: medium none;padding: 0;text-shadow: none;}
.main_section .col-lg-4 .bs-example ul.nav.navbar-right.profile_sect li a:hover button  {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;box-shadow: none;padding: 0; color:#000; text-shadow:none;}
.nav.navbar-nav.navbar-right.profile_sect li a button:hover {background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: medium none;box-shadow: none;padding: 0; color:#000; text-shadow:none;}
/*search_page  css code*/
/*Login Section*/
#login_popup .modal-header {
background: -o-linear-gradient(bottom, #e7eaee , #dadfe3);
background: -moz-linear-gradient(bottom, #e7eaee, #dadfe3);
background: -webkit-linear-gradient(bottom, #e7eaee, #dadfe3);
background: -ms-linear-gradient(bottom, #e7eaee, #dadfe3);
background: linear-gradient(to bottom, #e7eaee, #dadfe3);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eaee', endColorstr='#dadfe3',GradientType=0 );
border-bottom: 1px solid #ccc;border-radius: 4px 4px 0 0;font-size: 25px !important;min-height: auto;padding: 10px;text-align: center;width: 100%; margin:1px 0px;}
#login_popup .modal-body label{ color:#555555;}
#login_popup .modal-header h4{font-size: 22px !important;}
#login_popup .modal-content {width: 100%; background: none repeat scroll 0 0 #f3f5f7;}
#login_popup .modal-footer button.btn {background: none repeat scroll 0 0 #eb181e;border: 1px solid #c51419;color: #fff;font-size: 18px;padding: 7px 0 8px;text-shadow: none;width: 63%;}
#login_popup .modal-footer button.btn:hover{ background:#fe5459; color:#000;}
#login_popup .modal-footer {border: medium none;padding: 0 0 15px;text-align: center;}
.form-group.forgot_pass label {display: block;text-align: center;}
.form-group.forgot_pass {margin: 0;}
#login_popup .modal-body {padding-bottom: 10px;}
#login_popup .modal-content .modal-header button{opacity: 1;}
#login_popup .modal-content .modal-header button.close span {color: #ff0000;font-size: 32px;opacity: 1;}
#login_popup {left: 36%;margin: 0 auto;position: absolute;top: 10%;width: 25%;}
#login_popup .modal-footer button.btn:focus {outline: medium none;}
#login_popup .modal-content .modal-header button.close span img {outline: medium none;width: 22px; height:22px;}
.login_detail_section {background: none repeat scroll 0 0 #f3f5f7;border: 1px solid #ccc;border-radius: 4px;display: block;float: none;margin: 6% auto;width: 40%;}
.login_detail_section .logtitle {background: -o-linear-gradient(bottom, #e7eaee , #dadfe3);background: -moz-linear-gradient(bottom, #e7eaee, #dadfe3);background: -webkit-linear-gradient(bottom, #e7eaee, #dadfe3);background: -ms-linear-gradient(bottom, #e7eaee, #dadfe3);background: linear-gradient(to bottom, #e7eaee, #dadfe3);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eaee', endColorstr='#dadfe3',GradientType=0 );border-radius: 4px 4px 0 0;font-size: 24px;font-weight: bold;padding: 8px 0;text-align: center;}
.login_detail_section #logsectform {border: 1px solid #fff;margin: 2px;padding: 25px;width: 100%;display: inline-block;}
#logsectform .form-group.sales_kit_btn button.kit:last-child {float: right;}
.login_detail_section #logsectform .form-group input {height: auto;padding: 10px 5px;width: 100%;}
#login_popup .modal-footer button.btn:hover{ background:#fe5459; color:#000;}
#logsectform .form-group.log_btn button.btn {background: none repeat scroll 0 0 #eb181e;border: medium none;display: block;font-weight: normal;margin:20px auto 5px auto; color: #fff;
font-size: 16px;padding: 6px 15px;text-shadow: none;width:auto;}
#logsectform .form-group.log_btn button.btn:hover{ background:#fe5459; color:#000;}
#logsectform .form-group.sales_kit_btn button.kit a{ color:#fff; text-decoration:none;}
#logsectform .form-group.sales_kit_btn button.kit a:hover{ color:#000; text-decoration:none;}
#logsectform .form-group.sales_kit_btn button.kit {background: none repeat scroll 0 0 #eb181e;border: medium none;display: block;font-weight: normal;margin:0px 0 10px 0px; color: #fff;font-size: 16px;padding: 6px 15px;text-shadow: none;width:auto; float:left;}
#logsectform .form-group.sales_kit_btn button.kit:hover{ background:#fe5459; color:#000;}
.form-group.sales_kit_btn {float: left;width: 100%; margin: 0;}

#logsectform .form-group.log_btn {margin-bottom: 0;}
.page_width button:focus {outline: medium none !important;}
.page_width a:focus {outline: medium none !important;}
.page_width input:focus {outline: medium none !important;}
.form-group.forgot_pass label a {color: #000;}
/*Login Section*/

/*middle_section css code*/
.footer_section { float:left; width:100%; border-top:2px solid #cacaca;}
.footer_section .foot_text .col-lg-12 p{ text-align:right; padding:15px 0px;font-size: 14px;}
.container.resource_page .table-responsive table.product_download tr.prod_inst td:last-child {border-bottom: medium none;border-right: medium none;}
#login_popup .modal-header .close {margin-top: -4px;}
.comeing_soon {font-size: 26px;min-height: 300px;text-align: left;}
.middle_section .profile_sect h2 {font-size: 20px;font-weight: bold;}
.comeing_soon h2 {font-size: 22px;min-height: 300px;text-align: left;}
.container.page_title.profile_sect {border: medium none;}
/* -------------- profile main ---------------- */
.main_profile {width:100%;margin:15px auto;border:1px solid #dddddd;}
.profile_field {width:32%;display: inline-block;vertical-align: middle;}
.form-inline .profile_label {padding:0 20px 0 0;color:#626262;margin: 0;}
.main_profile form.form-inline button.dropdown-toggle {width:100%;padding: 3px 12px;text-align: left;border-radius: 0;background: #ffffff;box-shadow: none;}
.main_profile .profile_input {/* width:80%; */border-radius: none;/* display:block; *//*width:100%;*/height:28px;padding:2px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;/* border-radius:4px; *//*-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);*/-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;width:65%;position:relative;}
.main_profile .field_space {margin: 15px /*-15px*/0;}
.main_profile .dropdown-toggle .caret {position:absolute;top:12px;right:12px;}
button.main_profile_btn {background: #eb181e;color:#ffffff;border-radius:0;border: 0 none;padding: 6px 18px;}
.dropdown.profile_field_select {display: inline-block;width: 65%;}
.row.main_profile_title {margin: 0;}
.row.main_profile_submit {margin: 0;}
.main_profile_title h2 {margin:0;padding:12px;background: #fafafa;border-bottom:1px solid #dddddd;}
.main_profile_submit {margin:0;padding:12px;background: #fafafa;border-top:1px solid #dddddd;}

.form-group.login_btn button.btn {background: #eb181e none repeat scroll 0 0;border: medium none;color: #fff;display: block;float: none;font-size: 16px;font-weight: normal;margin:10px auto;padding: 6px 15px;text-shadow: none;width: auto;}
.form-group.login_btn button.btn:hover{background: #fe5459 none repeat scroll 0 0;color: #000;}
.pane2 {border-bottom: 1px solid #ccc;display: none;float: left;height: auto;margin: 5px 0;padding: 5px 0 0;width: 100%;}
.pane2.form-group.login_btn label {text-align: left;}
.pane2.form-group.login_btn label span {float: left;margin: 2px 11px 0 0;}
.flip2 {color: #eb181e  !important;cursor: pointer;padding: 0;text-decoration: none;}
.flip2:hover{ text-decoration: none !important;} 
#logsectform .form-group label {font-weight: normal;}

/*Category page css created by kishor 09-02-2016*/
section.category_section {float: left;margin: 40px 0;width: 100%;}
section.category_section ul.nav.nav-tabs {float: left;width:15%; border: medium none;}
section.category_section ul.nav.nav-tabs li {float: left;width: 100%;}
section.category_section .col-lg-12 .col-lg-8.tab-content {float: left;width: 85%; padding:0px;}
section.category_section ul.nav.nav-tabs li.active{background: #ec1d25 none repeat scroll 0 0 !important;}	
section.category_section ul.nav.nav-tabs li{background: #88171b none repeat scroll 0 0;border: medium none; border-bottom:2px solid #ec1d25;border-radius: 0;color: #fff;
font-size: 16px;font-weight: 500;margin: 0 0 0px;padding: 12px 10px;text-align: left;position: relative;}
section.category_section ul.nav.nav-tabs li:last-child{border: medium none;}
section.category_section ul.nav.nav-tabs li:focus, li:active, li:visited,{ background: #ec1d25 none repeat scroll 0 0 !important;border-bottom:none;}
section.category_section ul.nav.nav-tabs li:hover{ background: #ec1d25 none repeat scroll 0 0 !important;border-bottom:2px solid #fff;}
section.category_section ul.nav.nav-tabs li a{ padding:0px; margin:0px; cursor: pointer; background:none; float:left; border-radius: 0; border: medium none;color: #fff;}
section.category_section ul.nav.nav-tabs li span.caret {background: rgba(0, 0, 0, 0) url("../img/select-arrow2.png") no-repeat;border: medium none;cursor: pointer;float: right;height: 12px;width: 15px; background-size: cover; background-position:100% 100%; margin:8px 0 0 0px;}
section.category_section ul.nav.nav-tabs li .dropdown{ float:right;position: static;}
section.category_section ul.nav.nav-tabs li .dropdown button.dropdown-toggle {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;border-radius: 0;box-shadow: none;padding: 0;}
section.category_section ul.nav.nav-tabs li .dropdown ul.dropdown-menu {background: #fff none repeat scroll 0 0;box-shadow:none;  border-radius: 0;left: 0 !important; border:1px solid #ccc;margin: 0;padding: 0;top: 46px;}
section.category_section ul.nav.nav-tabs li .dropdown ul.dropdown-menu li {background: #fff none repeat scroll 0 0;}
section.category_section ul.nav.nav-tabs li .dropdown ul.dropdown-menu li a {color: #000; display:block; width:100%;}
section.category_section .col-lg-12 .col-lg-8.tab-content .inner_sub_categorys ul {width: 100%;}
section.category_section .col-lg-12 .col-lg-8.tab-content .inner_sub_categorys {padding:0px 20px 0px 0px;width: 20%; float:left;}
.cat_heading{ float:left; width:100%; padding:8px; margin:5px 0px 10px 0px; color:#fff; font-size:20px; background: #88171b none repeat scroll 0 0; text-align:center;}
section.category_section .col-lg-12 .col-lg-8.tab-content .col-lg-12.main_content_area .tab-pane.active {display: block;}
section.category_section .col-lg-12 .col-lg-8.tab-content .col-lg-12.main_content_area .tab-pane {display: none;}
section.category_section .col-lg-12 .col-lg-8.tab-content .col-lg-12.main_content_area{ float: left; padding:0px; width:100%; }
section.category_section .col-lg-12 .col-lg-8.tab-content p { font-size: 16px;float: left;line-height: 24px;text-align: justify;width:100%;}
section.category_section .col-lg-12 .col-lg-8.tab-content p img.small_img {border: 2px solid #ec1d25;float: right;margin: 0 0 10px 50px;}
section.category_section .col-lg-12 .col-lg-8.tab-content p img.big_img {display: block;border: 2px solid #ec1d25;float: none;margin: 0 auto;text-align: center;width: auto;}
section.category_section .navigation_menu {float: left;width:15%; border: medium none; padding-left:0px;}
section.category_section .navigation_menu #bs-example-navbar-collapse-1 ul li {float: left;width: 100%;}
section.category_section .navigation_menu  #bs-example-navbar-collapse-1 ul li.active{background: #ec1d25 none repeat scroll 0 0 !important;}	
section.category_section .navigation_menu  #bs-example-navbar-collapse-1 ul li{background: #88171b none repeat scroll 0 0;border: medium none; border-bottom:2px solid #ec1d25;border-radius: 0;color: #fff;
font-size: 16px;font-weight: 500;margin: 0 0 0px;padding: 12px 10px;text-align: left;position: relative;}
section.category_section  #bs-example-navbar-collapse-1 ul li:last-child{border: medium none;}
section.category_section  #bs-example-navbar-collapse-1 ul li:focus, li:active, li:visited,{ background: #88171b  none repeat scroll 0 0 !important;border-bottom:2px solid #333;}
section.category_section  #bs-example-navbar-collapse-1 ul li:hover{ background: #88171b  none repeat scroll 0 0 !important;}
section.category_section  #bs-example-navbar-collapse-1 ul li a{ padding:0px; margin:0px; cursor: pointer; background:none; float:left; border-radius: 0; border: medium none;color: #fff;}
section.category_section  #bs-example-navbar-collapse-1 ul li span.caret {background: rgba(0, 0, 0, 0) url("../img/select-arrow2.png") no-repeat;border: medium none;cursor: pointer;float: right;height: 12px;width: 15px; background-size: cover; background-position:100% 100%; margin:8px 0 0 0px;}
section.category_section  #bs-example-navbar-collapse-1 ul li .dropdown{ float:right;position: static;}
section.category_section  #bs-example-navbar-collapse-1 ul li .dropdown button.dropdown-toggle {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;border-radius: 0;box-shadow: none;padding: 0;vertical-align: top;}
section.category_section  #bs-example-navbar-collapse-1 ul li .dropdown ul.dropdown-menu {background: #fff none repeat scroll 0 0;box-shadow:none;  border-radius: 0;left: 0 !important; border:1px solid #ccc;margin: 0;padding: 0;top: 46px;}
section.category_section  #bs-example-navbar-collapse-1 ul li .dropdown ul.dropdown-menu li {background: #fff none repeat scroll 0 0; padding: 4px 8px;}
section.category_section  #bs-example-navbar-collapse-1 ul li .dropdown ul.dropdown-menu li a {color: #000; display:block; width:100%;}
section.category_section  #bs-example-navbar-collapse-1 ul li .dropdown ul.dropdown-menu li.active a{color: #fff; display:block; width:100%;}
section.category_section  #bs-example-navbar-collapse-1 ul li .dropdown ul.dropdown-menu li:hover a{color: #fff; display:block; width:100%;}
section.category_section .navigation_menu .navbar {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;border-radius: 0;box-shadow: none;margin: 0;}
section.category_section .navigation_menu .navbar .container-fluid{ padding:0px;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1{ padding:0px;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1 ul{ padding:0px; float:left; width:100%; margin:0px;}
section.category_section .row .col-lg-12 {padding: 0;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea {border: 1px solid #ccc;float: left;padding:3px 10px 10px 10px;width: 85%;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea p {float: left;line-height: 24px;text-align: justify;width: 100%; padding-right: 10px;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea p img.small_img {border: 2px solid #ec1d25;float: right;margin: 0 0 10px 50px;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea img.big_img {display: block;border: 2px solid #ec1d25;float: none;margin: 0 auto;text-align: center;width: auto;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea .select_lang {float: right;padding: 0;position: absolute;right: 10px;top: 15px;width: auto;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea .select_lang .bs-docs-example label {color: #ffffff;float: left;font-size: 16px;line-height: 30px;font-weight: normal;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea .select_lang .bs-docs-example button.selectpicker {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: 1px solid #ccc;box-shadow: none;color: #000;float: left;text-shadow: none;width: auto;outline: medium none !important;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea .select_lang .bs-docs-example .bootstrap-select {float: left;margin: 0 0 5px 20px;width: auto;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea .select_lang .bs-docs-example select.lang_section {
border: 1px solid #000000;float: left;margin: 3px 8px 0 13px;padding: 4px 19px;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea .select_lang .bs-docs-example .bootstrap-select .dropdown-menu.open {padding: 0;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea .select_lang .bs-docs-example .bootstrap-select.open ul.selectpicker li a {
background: #ec1d25 none repeat scroll 0 0;border-bottom: 1px solid #000;color: #fff;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea .select_lang .bs-docs-example .bootstrap-select.open ul.selectpicker li a:hover{ background:#88171b;}
/*Kishor added css here 09-03-2016*/

header.headsection {background: #d1d2d4 none repeat scroll 0 0;border-bottom: 4px solid #ed2027;float: left;width: 100%;}
.welcome {display: block;float: right;font-size: 18px;margin:30px 0px 0px 0px;padding: 0 0 2px;text-align: right;width: auto;}
.welcome a span{display: none;}
.welcome a{background: #eb181e none repeat scroll 0 0;border: medium none;border-radius: 3px;color: #ffffff;font-size: 18px;margin: 0;padding: 6px 10px;text-shadow: none;}
.welcome a:hover {background: #fe5459  none repeat scroll 0 0;color: #000000; text-decoration: none;}
.container.foot_text .col-lg-6 a.footer_pmk{background: #eb181e none repeat scroll 0 0;border: medium none;border-radius: 3px;color: #ffffff;font-size: 18px; float: left;margin: 10px 0px;padding: 6px 10px;text-shadow: none;}
.container.foot_text .col-lg-6 a.footer_pmk:hover {background: #fe5459  none repeat scroll 0 0;color: #000000; text-decoration: none;}
.col-lg-6.footer_amk a{background: #eb181e none repeat scroll 0 0;border: medium none;border-radius: 3px;color: #ffffff;font-size: 18px; float: left;margin: 10px 0px;padding: 6px 10px;text-shadow: none;}
.col-lg-6.footer_amk a:hover {background: #fe5459  none repeat scroll 0 0;color: #000000; text-decoration: none;}
footer.footer_section .foot_text{padding: 0px;}
footer.footer_section .foot_text .col-lg-12{padding: 0px;}
section.category_section .tab-content .main_content_area p {/*font-size: 24px;font-weight: bold;text-align: center !important; margin-top: 18%;*/}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown.open button.dropdown-toggle {position: absolute;right: 11px;top: 11px;}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown.open ul.dropdown-menu {left: 10px !important;position: relative;top: 0;width: 93%;}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown.open ul.dropdown-menu li a {float: left;white-space: normal;width: 100%;word-break: break-all;word-wrap: break-word;}
section.category_section .col-lg-12 .col-lg-8.tab-content table td {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 15px;padding: 5px;}
.col-lg-12.main_content_area .home_text {font-size: 24px;font-weight: bold;margin-top: 20%;text-align: center;}
.main_content_area .resources_link {background: #eb181e none repeat scroll 0 0;border: medium none;border-radius: 3px;color: #ffffff;font-size: 16px; float: left;margin: 10px 0px;padding: 4px 8px;text-shadow: none; clear: both;}
.main_content_area .resources_link:hover {background: #fe5459  none repeat scroll 0 0;color: #000000; text-decoration: none !important;}
#loginpage_logo.logo h1 {margin: 20px 0 23px;}
.col-lg-12 .main_content_area .col-lg-8{width:100%;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea ul.nav.col-lg-4.nav-tabs {float: right;padding: 0 0 0 13px;}
header.sticky_header.sticky {left: 0;margin: 0;padding: 0px 0 0px;position: fixed !important;top: 0;width: 100%;z-index: 1;}
header.sticky_header {display: inline-block;float: left;line-height: 0;position: relative;width: 100%;}
/*23-03-2016 kishor made css changes*/
.navmenu.navmenu-default.navmenu-fixed-left {display: none;}
.navmenu.navmenu-default.navmenu-fixed-left.in {display: block;left: 0 !important;top: 15%;}
.mobile_menu_show .navbar.navbar-default.navbar-fixed-top {position: absolute;}
.col-lg-3.mobile_menu_show {float: left;position: relative !important;width: 25%;display: none;}
.col-lg-3.mobile_menu_show ul.navbar-nav {float: left;width:100%; border: medium none;}
.col-lg-3.mobile_menu_show ul.navbar-nav li {float: left;width: 100%;}
section.category_section .col-lg-12 .col-lg-8.tab-content {float: left;width: 85%; padding:0px;}
.col-lg-3.mobile_menu_show ul.navbar-nav li.active{background: #ec1d25 none repeat scroll 0 0 !important;}	
.col-lg-3.mobile_menu_show ul.navbar-nav li{background: #88171b none repeat scroll 0 0;border: medium none; border-bottom:2px solid #ec1d25;border-radius: 0;color: #fff;
font-size: 16px;font-weight: 500;margin: 0 0 0px;padding: 12px 10px;text-align: left;position: relative;}
.col-lg-3.mobile_menu_show ul.navbar-nav li:last-child{border: medium none;}
.col-lg-3.mobile_menu_show ul.navbar-nav li:focus, li:active, li:visited,{ background: #ec1d25 none repeat scroll 0 0 !important;border-bottom:none;}
.col-lg-3.mobile_menu_show ul.navbar-nav li:hover{ background: #ec1d25 none repeat scroll 0 0 !important;border-bottom:2px solid #ec1d25;}
.col-lg-3.mobile_menu_show ul.navbar-nav li a{ padding:0px; margin:0px; cursor: pointer; background:none; float:left; border-radius: 0; border: medium none;color: #fff;}
.col-lg-3.mobile_menu_show ul.navbar-nav li span.caret {background: rgba(0, 0, 0, 0) url("../img/select-arrow2.png") no-repeat;border: medium none;cursor: pointer;float: right;height: 12px;width: 15px; background-size: cover; background-position:100% 100%; margin:8px 0 0 0px;}
.col-lg-3.mobile_menu_show ul.navbar-nav li .dropdown{ float:right;position: static;}
.col-lg-3.mobile_menu_show ul.navbar-nav li .dropdown button.dropdown-toggle {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;border-radius: 0;box-shadow: none;padding: 0;}
.col-lg-3.mobile_menu_show ul.navbar-nav li .dropdown ul.dropdown-menu {background: none;box-shadow:none;  border-radius: 0;left: 0 !important; border:none;margin: 0;padding: 0;top: 46px;}
.col-lg-3.mobile_menu_show ul.navbar-nav li .dropdown ul.dropdown-menu li {background: #fff none repeat scroll 0 0;}
.col-lg-3.mobile_menu_show ul.navbar-nav li .dropdown ul.dropdown-menu li a {color: #fff; display:block; width:100%;}
.col-lg-3.mobile_menu_show .navmenu, .navbar-offcanvas{width: 30%;}
.col-lg-3.mobile_menu_show .navbar button.navbar-toggle {background: #ed2027 none repeat scroll 0 0;border: medium none;}
section.category_section .navigation_menu button.navbar-toggle {display: none;}
.navbar.navbar-default.navbar-fixed-top {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;box-shadow: none;margin: 0;min-height: auto;}
.col-lg-3.mobile_menu_show .navbar button.navbar-toggle span.icon-bar {background: #ffffff none repeat scroll 0 0;color: #ffffff;height: 2px;padding: 0 0 2px;width: 30px;}
.cat_heading h2 {float: none;margin: 0;text-align: left;width:75%;}
.col-lg-12.main_content_area .content table {
    width: 100% !important;
}
.col-lg-12.main_content_area .content table td{/*width: auto !important;*/ }
.col-lg-12.main_content_area .content table td p {
    float: left !important;
    width: 100% !important;
}
.col-lg-12.main_content_area .content table td h1, h2, h3, h4, h5, h6 {
    float: left !important;
    width: 100% !important;
}

/* ------------ media device screen css -------------- */
@media only screen and (max-width:1060px) {
.col-lg-12.main_content_area .content .tab-pane.active p img {
    width: 100% !important;
}
.col-lg-12.main_content_area .content table td img {
    width: 100% !important;
}
}
@media only screen and (max-width:780px) {
section.category_section .navigation_menu #bs-example-navbar-collapse-1 ul li{font-size: 14px;}
.welcome{padding: 0px 15px 0px 0px;}
.col-lg-12.main_content_area .content table td{width: auto !important; }
}

@media only screen and (max-width:640px) {
.main_profile .profile_input {width:55%;}
.profile_field {width: 42%;padding:0;}
.dropdown.profile_field_select {width: 55%;}
.form-group {margin-bottom: 0;}
.main_section .col-lg-8 {margin: 0;padding: 0;width: 40% !important;}
footer.footer_section .foot_text {padding: 0 15px;}
section.category_section .col-lg-12 .col-lg-8.tab-content {float: left;padding: 0;width: 100% !important;}
section.category_section .col-lg-3.navigation_menu .navbar-header button.navbar-toggle {left: 420px;z-index: 99999 !important;}
section.category_section .col-lg-3.navigation_menu .navbar-header button.navbar-toggle.collapsed {left: 0;margin: 0 !important;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1.navbar-collapse.collapse.in {left: 0 !important;padding: 0 0 50px !important;top: 0 !important;width: 68%; position: absolute; !important;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1.navbar-collapse.collapsing{	left: 0 !important;padding: 0 0 50px !important;top: 0 !important;width: 68%; position: absolute; !important;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1 {background: #ffffff none repeat scroll 0 0;border: medium none;float: left;left: -450px;margin: 0 0 15px;padding: 0;position: relative;top: 8px;width: 68%;z-index: 99;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1 ul {float: left;margin: 0;padding: 0;width: 100%;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1.navbar-collapse.collapse {left: 0 !important;padding: 0 0 50px !important;position: absolute;top: 0 !important;width: 68%;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1.navbar-collapse.collapsing {left: 0 !important;padding: 0 0 50px !important;position: absolute;top: 0 !important;width: 68%;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1.navbar-collapse.collapseing {left: 0 !important;padding: 0 0 50px !important;position: absolute;top: 0 !important;width: 68%;}
.navbar-collapse.collapsing {height: 100%;width: 100% !important; left: 0px !important;}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown.open {float: left;margin-top: 10px;width: 100%;}
}
@media only screen and (max-width:480px) {
.row.field_space {margin-bottom: 0;margin-top: 0;}
.main_profile form.form-inline .field_space .form-group.col-xs-6 {width: 100%;}
.main_profile form.form-inline {margin: 15px 0 0 0;}
.main_section .col-lg-8 {margin: 0;padding: 0;width: 100% !important;}
.logo {float: left;width: 100%;}
.logo h1 a img {display: block;float: none;margin: 0 auto;text-align: center;}
.welcome {float: left;margin: 5px 0 15px;text-align: center;padding: 0;width: 100%;}
footer.footer_section .foot_text .col-lg-12 p {float: left;padding: 0;width: 100%;}
.container.foot_text .col-lg-6 a.footer_pmk {display: inline-block;margin: 10px auto;  float: none;text-align: center;}
footer.footer_section .foot_text .col-lg-12 .col-lg-6 {display: block;float: left;margin: 0 auto;text-align: center;width: 100%;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1.navbar-collapse.collapse.in {background: #ffffff none repeat scroll 0 0;left: 0 !important;padding: 0 0 50px !important;position: absolute;top: 0 !important;width: 78%;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1 ul {float: left;margin: 0;padding: 0;width: 80%;}
section.category_section .col-lg-3.navigation_menu .navbar-header button.navbar-toggle {left: 360px;z-index: 99999 !important;}
}
@media only screen and (max-width:400px) {
section.category_section .col-lg-3.navigation_menu .navbar-header button.navbar-toggle {left: 270px;z-index: 99999 !important;}
}
@media only screen and (max-width:360px) {
.main_profile form.form-inline .field_space .form-group.col-xs-6 {width: 100%;}
.row.field_space {margin-bottom: 0;margin-top: 0;}
.main_profile form.form-inline {margin: 15px 0 0 0;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1 ul {float: left;margin: 0;padding: 0;width: 70%;}
}
@media only screen and (max-width:340px) {
section.category_section .col-lg-3.navigation_menu .navbar-header button.navbar-toggle {left: 232px;z-index: 99999 !important;}
}

