
@media only screen and (max-width:1280px) {
.main_section .col-lg-4 {float: left;padding: 0;width: 52%;}
.main_section .col-lg-8 {float: left;padding: 0;width: 48%;}
.login_detail_section {width: 50%;}
}
@media only screen and (max-width:1199px) {
section.category_section .container {width: 100%; float:left;}
section.category_section .container .row {float: left;margin: 0;width: 100%;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1 ul{width: auto;}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown.open ul.dropdown-menu {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;border: medium none;left: 0 !important;position: relative;top: 0;width: 100%;}
}
@media only screen and (max-width:1060px) {
section.category_section .navigation_menu {width: 20%;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea {width: 80%;}
section.category_section ul.nav.nav-tabs {width: 20%;}
section.category_section .col-lg-12 .col-lg-8.tab-content {float: left;padding: 0;width: 80%;}
.cat_heading{text-align: left; font-size: 20px;}
}
@media only screen and (max-width:1024px) {
.main_section .col-lg-8 {float: left;padding: 0;width: 52%;}
.main_section .col-lg-4 {float: left;padding: 0;width: 48%;}
.middle_section .container.detail_page {padding: 0;}
.detail_page .col-lg-6 img {width: 100%;}
.middle_section .container.detail_page .row .col-lg-6 {float: left;width: 48%;}
.container.resource_page {float: left;padding: 0 15px;width: 100%;}
.container.search_page_select .row .col-lg-3 {float: left;width: 25%;}
.container.Addvance_view .row .col-lg-6 {float: left;width: 48%;}
.container.Addvance_view .row .col-lg-6.left_side {padding: 20px 10px 20px 20px;  max-height: 270px;}
.container.Addvance_view .row .col-lg-6.left_side ul li {padding: 2px 0 2px 9px;}
#login_popup {left: 36%;margin: 0 auto;position: absolute;top: 8%;width: 35%;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a {padding:15px 20px;}

}
@media only screen and (max-width:1000px) {
.page_width .container {width: 95%;}
}
@media only screen and (max-width:980px) {
heder.headsection .container.main_section {float: left;width: 100%;}
.main_section .col-lg-4 {float: left;padding: 0;width:48%;}
.main_section .col-lg-8 {width:51%; padding:0 15px;}
.middle_section .container.detail_page {float: left;padding: 0 10px;width: 100%;}
.middle_section .page_title {border-bottom: 1px solid #ccc;float: left;padding: 0 20px;width: 100%;}
.container.news_page {float: left;padding: 0 15px;width: 100%;}
.container.news_page .row .col-lg-12 {padding-right: 15px;}
.container.news_page .row {float: left;margin: 0;width: 100%;}
.container.search_page {float: left;padding: 0 15px;width: 100%;}
.container.search_page_select {float: left;margin-bottom: 15px;margin-top: 25px;padding: 0 15px;width: 100%;}
.container.Addvance_view {float: left;margin-bottom: 30px;padding: 0 15px;width: 100%;}
.login_detail_section {width: 55%;}
.container.resource_page {float: left;width: 100%;}
section.category_section .col-lg-12 .col-lg-8.tab-content p img.big_img{width: 100%;}
}
@media only screen and (max-width:865px) {
.main_section .col-lg-4 {float: left;padding: 0;width:57%;}
.main_section .col-lg-8 {width:42%; padding:0 15px;}
heder.headsection .container.main_section {float: left;width: 100%;}
}
@media only screen and (max-width:800px) {
.main_section .col-lg-8 {width: 39%; }
.main_section .col-lg-4 {float: left;padding: 0;width: 61%;}
#login_popup {left: 30%;margin: 0 auto;position: absolute;top: 6%;width: 42%;}
.login_detail_section {width: 65%;}
}
@media only screen and (max-width:768px) {
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a {padding: 15px 25px;}
heder.headsection .main_section .col-lg-8 #loginpage_logo{margin: 15px 0px !important;}
.page_width .container {width: 100%;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea {width: 72%;}
section.category_section .col-lg-12 .col-lg-8.tab-content{width: 75%;}
section.category_section .navigation_menu {width: 25%;}
.footer_section .foot_text .col-lg-12 p {float: left;font-size: 14px;padding: 15px 0;text-align: center;width: 100%;}
footer.footer_section .foot_text {padding: 0 15px;}
.container.foot_text .col-lg-6 {display: block;float: left;margin: 10px 0px;text-align: center;width: 100%;}
.container.foot_text .col-lg-6 a.footer_pmk{ float:none;}
section.category_section ul.nav.nav-tabs li a{white-space: normal;width: 100%;word-wrap: break-word;}
.cat_heading h2 {float: left;font-size: 20px;margin: 0 0 5px;width: 55%;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea .select_lang {
float: right;padding: 0;position: absolute;right: 6px;top: 12px;width: auto;}
}
@media only screen and (max-width:767px) {
.main_section .col-lg-4 .bs-example .navbar-collapse.in{ overflow:hidden !important;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a {padding: 14px 20px 15px 68px;font-size: 17px; margin:0px;}
.main_section .col-lg-4 .bs-example nav.navbar .navbar-header button {background: none repeat scroll 0 0 #f5b0a0;border: 1px solid #de797d;border-radius:7px;float: right;margin: 0;padding:10px;position: absolute;right:0px;top: -35px;}
.bs-example span.icon-bar {background-color: #fff !important;}
.main_section .col-lg-4 .bs-example .navbar-toggle .icon-bar {display: block;width: 22px;height: 3px;border-radius: 1px;}
.main_section .col-lg-8 {width: 100%;margin: 0;padding: 0;}
.main_section .col-lg-4 {padding: 0;width: 100%;position: relative;float: left;margin:-35px 0 0 0; }
.main_section .col-lg-4 .bs-example {float: none;margin-top: 0px;width: 100%;}
heder.headsection .main_section .col-lg-8 .logo {margin: 15px 0px 15px 0;}
.main_section .col-lg-4 .bs-example nav.navbar {float: left;width:100%;}
.main_section .col-lg-4 .bs-example .navbar #navbarCollapse {float: left;margin: 37px 0 0 0;padding: 0;width: 100%;border: none;box-shadow: none;border-radius:0px;}
.bs-example .nav.navbar-nav {border:none;  border-radius:0px;margin: 0px 0 0px 0px;width: 100%;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li.firstt_sect a {border-radius: 0;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li.last_sect a {border-radius:0px;border-right: medium none;}
heder.headsection .container.main_section .row {float: left;margin: 0;padding: 0;width: 100%;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li {border:1.2px solid #de797d !important; box-shadow:none;margin: 0 0 -1px;}
.bs-example .nav.navbar-nav {border-radius: 0 !important;}
section.category_section {float: left;margin: 10px 0;width: 100%;}
section.category_section .row .col-lg-12 {float: left;padding: 0;width: 100%;}
section.category_section .col-lg-3.navigation_menu .navbar-header {float: left;margin: 0 0 6px;width: 100%;}
section.category_section .col-lg-3.navigation_menu .navbar-header button.navbar-toggle {background: #ec1d25 none repeat scroll 0 0;border: medium none;float: left;height: auto;padding: 12px 12px;width: auto;}
section.category_section .col-lg-3.navigation_menu .navbar-header button.navbar-toggle:hover {background: #88171b  none repeat scroll 0 0;border: medium none;float: left;height: auto;padding: 12px 12px;width: auto;}
section.category_section .col-lg-3.navigation_menu .navbar-header button.navbar-toggle span {background: #fff none repeat scroll 0 0;color: #fff;height: 3px;width: 40px;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea {width: 100%;}
section.category_section .navigation_menu .navbar .container-fluid #bs-example-navbar-collapse-1 {border: medium none;float: left;margin: 0 0 15px;padding: 0;top: 0;width: 100%;}
section.category_section .navigation_menu {padding: 0;width: 100%; display: none;}
section.category_section .navigation_menu #bs-example-navbar-collapse-1 ul li{ padding:7px 10px;}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown {float: right;position: static;width: 70%;}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown button.dropdown-toggle{ float:right;}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown ul.dropdown-menu li.active{ background:#88171b!important;color:#fff!important;}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown ul.dropdown-menu li:hover{ background:#88171b!important; color:#fff!important;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea ul.nav.col-lg-4.nav-tabs {
float: left;margin: 0 0 18px;padding: 0;width: 100%;}
.col-lg-3.mobile_menu_show {float: left;position: relative !important;width: 25%;display: block;}
.navmenu.navmenu-default.navmenu-fixed-left.in {display: block;left: 6px !important; margin-bottom: 25px;top: 38%; background: none;}
.col-lg-3.mobile_menu_show .navmenu, .navbar-offcanvas {border: medium none;width: 35%;}
.col-lg-3.mobile_menu_show ul.navbar-nav {border: medium none;float: left;margin: 0;width: 94%;}
section.category_section .row .col-lg-12.menu_section .col-lg-3.mobile_menu_show {
float: left;padding: 0;width: 100%;}
.col-lg-3.mobile_menu_show ul.navbar-nav li .dropdown.open {
    float: right;
    width: auto;
}
.canvas.canvas-slid {background:none ;left: 200px !important;min-height: 100%;padding: 0;position: relative;top: 0 !important;z-index: 2;}
section.category_section .row .col-lg-12.menu_section#sub_inner_section .col-lg-3.mobile_menu_show{ height: 50px;}
.col-lg-3.mobile_menu_show ul.navbar-nav li .dropdown.open ul.dropdown-menu{position: absolute;width: 100%;top: 48px; left: 0px;}
}
@media only screen and (max-width:640px) {
.middle_section .container.detail_page .row {float: left;margin: 0;width: 100%;}
#login_popup {left: 24%;margin: 0 auto;position: absolute;top: 14%;width: 53%;}
.login_detail_section {width: 70%;}
heder.headsection .container.main_section .row {float: left;margin: 0;padding: 0 15px;width: 100%;}
.middle_section .container.detail_page .row .col-lg-6 {float: left;width: 100%;}
.container.detail_page #inform.col-lg-6 {border-left: medium none;padding: 0 15px;}
.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td {float: left;width: 140px;}
.detail_info table.detail_table {margin: 0 auto;}
.middle_section .container.detail_page {margin-bottom: 20px;margin-top: 10px;}
.footer_section .foot_text .col-lg-12 p {padding:20px 0 5px 0px;text-align: center;}
.container.search_page_select .row .col-lg-3 {float: left;width: 47%;}
.container.Addvance_view .row .col-lg-6 {float: left;width: 99%;   margin-bottom: 20px;padding-left: 0;}
#login_popup {left: 12%;margin: 0 auto;position: absolute;top: 41%;width: 75%;}
.login_detail_section {margin: 10% auto;width: 75%;}
.container.Login_Register_section .row {float: left;margin: 0;width: 100%;}
.container.Login_Register_section .row .col-lg-12 {margin: 0;padding: 0;}
.container.Login_Register_section .row {float: left;margin: 0;width: 100%;}
.container.Login_Register_section {margin: 0;padding: 10px 20px 10px 15px;}
.container.main_section .row {float: left;margin: 0;width: 100%;}
heder.headsection .container.main_section {float: left;padding: 0;width: 100%;}
.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a {font-size: 17px;margin: 0;padding: 14px 20px 15px 25px;}
.main_content_area .lc table{border: 1px solid #dddddd;border-radius: 3px;margin-bottom: 20px;overflow-x: auto;overflow-y: hidden;position: relative;width: 100%;}
section.category_section .col-lg-12 .col-lg-8.tab-content .col-lg-12.main_content_area .tab-pane.active {display: block;float: left;width: 100%;}
.main_content_area .lc table {margin-bottom: 20px;max-width: 100%;width: 100%;}
.content {height: auto !important;max-height: 450px !important;max-width: 100%;min-height: auto !important;}
}
@media only screen and (max-width:560px) {
.login_detail_section {margin: 10% auto;width: 90%;}
section.category_section ul.nav.nav-tabs {padding: 0;width: 100%;}
.cat_heading{ font-size:20px; padding:5px;}
section.category_section ul.nav.nav-tabs li{ padding: 2px 10px;}
section.category_section .col-lg-12 .col-lg-8.tab-content {float: left;margin: 15px 0;padding: 0;width: 100%;}
section.category_section ul.nav.nav-tabs li a{ width:100%; display:block;}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown {float: right;position: static;width: 65%;}
.navmenu.navmenu-default.navmenu-fixed-left.in {display: block;left: 6px !important;top: 57%;}
.col-lg-3.mobile_menu_show .navmenu, .navbar-offcanvas {border: medium none;width: 42%;}

}
@media only screen and (max-width:480px) {
.container.Login_Register_section {width: 100%;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea p{ text-align:left;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea p img.small_img{margin: 0 0 10px 10px;}
}
@media only screen and (max-width:400px) {
.login_detail_section {margin:20px 0px;width: 100%;}
#logsectform .form-group.sales_kit_btn button.kit{font-size: 16px;padding: 6px 8px;}
.login_detail_section #logsectform {padding: 10px;width: 100%;}
.footer_section .foot_text .col-lg-12 p {font-size: 12px;}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown {float: right;position: static;width:55%;}
.welcome{font-size: 16px;}
section.category_section .col-lg-12 .col-lg-9.right_site_contantarea .select_lang {
background: #88171b none repeat scroll 0 0;float: left;left: 0;padding: 8px 7px;position: relative;width: 100%;}
.navmenu.navmenu-default.navmenu-fixed-left.in {display: block;left: 6px !important;top: 29%;}
.cat_heading h2 {float: left;font-size: 20px;margin: 0 0 5px;width: 100%;}
section.category_section .col-lg-12 .col-lg-8.tab-content .col-lg-12.main_content_area {float: left;}
}
@media only screen and (max-width:360px) {
.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td {float: none;width: auto;}
.container.resource_page .table-responsive table.product_download tr.prod_inst td {padding:20px 15px 22px 15px;}
.coolgear img {display: inline;margin: 0;text-align: left;width: 100%;}
.container.search_page_select .row .col-lg-3 {float: left;padding: 0 10px;width: 50%;}
.container.Addvance_view {margin-bottom: 5px;}
#login_popup {left: 4%;margin: 0 auto;position: absolute;top: 21%;width: 88%;}
.col-lg-3.mobile_menu_show .navmenu, .navbar-offcanvas {border: medium none;    width: 60%;}
}
@media only screen and (max-width:340px) {
#login_popup {left: 5%;margin: 0 auto;position: absolute;top: 27%;width: 88%;}
section.category_section #bs-example-navbar-collapse-1 ul li .dropdown {float: right;position: static;width:52%;}
.col-lg-3.mobile_menu_show .navmenu, .navbar-offcanvas {border: medium none;width: 67%;}
.navmenu.navmenu-default.navmenu-fixed-left.in {display: block;left: 6px !important;top: 38% !important;}
.canvas.canvas-slid {background:none ;left: 200px !important;min-height: 100%;padding: 0;position: relative;top: 0 !important;z-index: 2;}
}
























