
@media only screen and (max-width:1280px) {
/*.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a {
    padding:15px 25px;
}
.main_section .col-lg-4 .bs-example ul.nav.navbar-right.profile_sect li a {
    padding: 10px 20px;
}
heder.headsection .main_section .col-lg-8 .logo {
    margin:30px;
}
.main_section .col-lg-4 .bs-example {
    margin-top:8%;
    width: 100%;
}*/
.main_section .header_rtsection {
    float: left;
    padding: 0;
    width: 52%;
}
.main_section .col-lg-8 {
    float: left;
    padding: 0;
    width: 48%;
}
}
@media only screen and (max-width:1024px) {
/*.main_section .col-lg-4 .bs-example nav.navbar {
    width: 73%;
}*/
.main_section .col-lg-6 {
    float: left;
    padding: 0;
    width: 52%;
}
.main_section .header_rtsection {
    float: left;
    padding: 0;
    width: 48%;
}
/*.main_section .col-lg-4 .bs-example nav.navbar ul.nav li a {
    padding: 28px 50px 26px 5px;
}*/
.middle_section .container.detail_page {
    padding: 0;
}
.detail_page .col-lg-6 img {
    width: 100%;
}
.middle_section .container.detail_page .row .col-lg-6 {
    float: left;
    width: 48%;
}
.container.resource_page {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.container.search_page_select .row .col-lg-3, .col-lg-2 {
    float: left;
    width: 25%;
}
.container.Addvance_view .row .col-lg-6 {
    float: left;
    width: 48%;
}
.container.Addvance_view .row .col-lg-6.left_side {
    padding: 20px 10px 20px 20px;  max-height: 270px;
}
.container.Addvance_view .row .col-lg-6.left_side ul li {
    padding: 2px 0 2px 9px;
}
#login_popup {
    left: 36%;
    margin: 0 auto;
    position: absolute;
    top: 8%;
    width: 35%;
}
.login_detail_section {
    width: 40%;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a {
    padding:15px 20px;
}
.set_update_con {
    float: left;
    width: 78%;
}
.left_first{width: 26%;}
.cont_name{width: 74%;}
#vehicle-categories {
    position: absolute;
    width: 101% !important;
}
.ng-scope form#frmSearchByBrand .col-lg-3:last-child {
    float: right !important;
    width: 12% !important;
}
.container.search_page_select form#frmSearchByBrand .col-lg-3 {
    float: left !important;
    width: 20% !important;
}
.back_link {
    right: 7px;
    top: -9px;
}
.container.news_page .row #sharing.col-lg-8 {
    margin: 10px 0 0;
    width: 100%;
}
.container.categoresection {
    margin: 20px 0;
    padding: 0;
    width: 100% !important;
}
.container.search_page_select.search-selectionmain .col-lg-6 .form-group {
    margin-bottom: 0;
}
#vehicle-categories > li {
    float: left;
    font-size: 13px;
    width: 100%;
}
form#frmProfile .form-group span.text-danger {
    margin-left: 0 !important;
}
}
@media only screen and (max-width:1000px) {
.page_width .container {
    width: 95%;
}
}
@media only screen and (max-width:980px) {
heder.headsection .container.main_section {
    float: left;
    width: 100%;
}
.main_section .header_rtsection {
    float: left;
    padding: 0;
    width:48%;
}
.main_section .col-lg-8 {
    width:51%; padding:0 15px;
}

.middle_section .container.detail_page {
    float: left;
    padding: 0 10px;
    width: 100%;
}
.middle_section .page_title {
    border-bottom: 1px solid #ccc;
    float: left;
    padding: 0 20px;
    width: 100%;
}
.container.news_page {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.container.news_page .row .col-lg-12 {
    padding-right: 15px;
}
.container.news_page .row {
    float: left;
    margin: 0;
    width: 100%;
}
.container.search_page {
    float: left;
    padding: 0 15px;
    width: 100%;
}
.container.search_page_select {
    float: left;
    margin-bottom: 15px;
    margin-top: 25px;
    padding: 0 15px;
    width: 100%;
}
.container.Addvance_view {
    float: left;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 100%;
}
.login_detail_section {
    width: 55%;
}
.container.resource_page {
    float: left;
    width: 100%;
}
.set_update_con {width: 76%;}
.cont_name {width: 64%;}
.left_first {width: 32%;}
}
@media only screen and (max-width:865px) {
.main_section .header_rtsection {
    float: left;
    padding: 0;
    width:57%;
}
.main_section .col-lg-8 {
    width:42%; padding:0 15px;
}
heder.headsection .container.main_section {
    float: left;
    width: 100%;
}
}
@media only screen and (max-width:800px) {
.main_section .col-lg-8 {
    width: 39%; }
.main_section .header_rtsection {
    float: left;
    padding: 0;
    width: 64% !important;
}
#login_popup {
    left: 30%;
    margin: 0 auto;
    position: absolute;
    top: 6%;
    width: 42%;
}

}
@media only screen and (max-width:768px) {
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a {
    padding: 15px 15px;
}
heder.headsection .main_section .col-lg-8 #loginpage_logo{
    margin: 15px 0px !important;
}
.set_update_con {
    margin: 61px 0 0;
    width: 100%;
}
.container.search_page_select .row .col-lg-3, .col-lg-2 {
    float: left;
    margin: 2px 0 10px;
    width: 98%;
}
.container.search_page_select form#frmSearchByBrand .col-lg-3 {
    float: left !important;
    width: 100% !important;
}
.ng-scope form#frmSearchByBrand .col-lg-3:last-child {
    float: left !important;
    width: 30% !important;
}
.container.search_page_select.search-selectionmain .col-lg-6 .form-group .col-lg-3 {
    padding: 0;
}
.searchmiddle .form-group button.search_field, .searchmiddle.ng-scope form#frmSearchByBrand .col-lg-3:last-child {
    width: auto !important;
}
.container.search_page_select.search-selectionmain .form-group button.srch-btn {
    padding: 6px 17px !important;
}
.col-lg-3.col-xs-12.srchmain-denso .form-group button.search_field {
    margin-bottom: 10px;
    padding: 6px 17px;
}
}
@media only screen and (max-width:767px) {
.main_section .header_rtsection .bs-example .navbar-collapse.in{ overflow:hidden !important;}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a {
  padding: 14px 20px 15px 68px;
  font-size: 17px; margin:0px;
}
.main_section .header_rtsection .bs-example nav.navbar .navbar-header button {
background: none repeat scroll 0 0 #f5b0a0;
 border: 1px solid #de797d;
border-radius:7px;
float: right;
margin: 0;
padding:10px;
position: absolute;
right:0px;
top: 0px;
}
.bs-example span.icon-bar {
  background-color: #fff !important;
}
.main_section .header_rtsection .bs-example .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 1px;
}
.main_section .col-lg-8 {
  width: 100%;margin: 0;
    padding: 0;
}
.main_section .header_rtsection {
    float: left;
    margin: -71px 0 0;
    padding: 0;
    position: relative;
    width: 100% !important;
}
.main_section .header_rtsection .bs-example {
  float: none;
  margin-top: 0px;
  width: 100%;
}

.logo {
  margin: 15px 0px 15px 0;
}
.main_section .header_rtsection .bs-example nav.navbar {
  float: left;
  width:100%;
}
.main_section .header_rtsection .bs-example .navbar #navbarCollapse {
  float: left;
  margin: 52px 0 0 0;
  padding: 0;
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius:0px;
}
.bs-example .nav.navbar-nav {
 border:none;  border-radius:0px;
  margin: 0px 0 0px 0px;
  width: 100%;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.firstt_sect a {
  border-radius: 0;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.last_sect a {
  border-radius:0px;
  border-right: medium none;
}
heder.headsection .container.main_section .row {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li {
    border:1.2px solid #de797d !important; box-shadow:none;margin: 0 0 -1px;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li.last_sect {
    border-radius: 0;
    border-right: medium none;
    margin-bottom: 10px;
}
.container.news_page .row .col-lg-4, .col-lg-8 {
    float: left;
    margin: 0 0 25px;
    width: 100%;
}
.container.categoresection #sharing {
    margin: 0;
    width: 100%;
}
.back_link {
    right: 7px;
    top: -9px;
}
.container.news_page .row .col-lg-8 {
    margin-bottom: 10px;
}
.container.news_page ul.news_list li a:hover{text-decoration:none;}
#sharing .form_field.section input#captcha-form {
    width:55%;
}
.container.search_page_select.search-selectionmain .col-lg-6 {
    float: left;
    padding: 0 0 0 10px;
}
#searchbrabd table.table td {
    text-align: left;
}
form#frmProfile .form-group span.text-danger {
    display: block;
    margin-left: 0 !important;
    text-align: right;
    width: 68%;
}
}
@media only screen and (max-width:640px) {

.middle_section .container.detail_page .row {
float: left;
margin: 0;
width: 100%;
}
#login_popup {
    left: 24%;
    margin: 0 auto;
    position: absolute;
    top: 14%;
    width: 53%;
}
.login_detail_section {
    width: 70%;
}
heder.headsection .container.main_section .row {
    float: left;
    margin: 0;
    padding: 0 15px;
    width: 100%;
}
.middle_section .container.detail_page .row .col-lg-6 {
    float: left;
    width: 100%;
}
.container.detail_page #inform.col-lg-6 {
    border-left: medium none;
    padding: 0 15px;
}
.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td {
    float: left;
    width: 140px;
}
.detail_info table.detail_table {
    margin: 0 auto;
}
.middle_section .container.detail_page {
    margin-bottom: 20px;
    margin-top: 10px;
}
.footer_section .foot_text .col-lg-12 p {
    padding:20px 0 5px 0px;
    text-align: center;
}
.container.search_page_select .row .col-lg-3, .col-lg-2 {
    float: left;
    padding: 0 10px;
    width: 98%;
}
.container.Addvance_view .row .col-lg-6 {
    float: left;
    width: 99%;   margin-bottom: 20px;padding-left: 0;
}
#login_popup {
    left: 12%;
    margin: 0 auto;
    position: absolute;
    top: 41%;
    width: 75%;
}
.login_detail_section {
    margin: 10% 0;
    width: 100%;
}
.container.Login_Register_section .row {
    float: left;
    margin: 0;
    width: 100%;
}
.container.Login_Register_section .row .col-lg-12 {
    margin: 0;
    padding: 0;
}
.container.Login_Register_section .row {
    float: left;
    margin: 0;
    width: 100%;
}
.container.Login_Register_section {
    margin: 0;
    padding: 10px 20px 10px 15px;
}
.container.main_section .row {
    float: left;
    margin: 0;
    width: 100%;
}
heder.headsection .container.main_section {
    float: left;
    padding: 0;
    width: 100%;
}
.main_section .header_rtsection .bs-example nav.navbar ul.nav li a {
    font-size: 17px;
    margin: 0;
    padding: 14px 20px 15px 25px;
}
#sharing .form_field.section input#captcha-form {
    width:75%;
}
.container.news_page .col-lg-8 {
    width: 100% !important;
}
.container.categoresection #sharing {
    margin: 0 0 0 22px;
    width: 92%;
}
.container.news_page {
    margin-bottom: 10px;
    margin-top: 15px;
    padding-left: 2px;
}
}
@media only screen and (max-width:480px) {
.container.Login_Register_section {
    width: 100%;
}
footer.footer_section .container {
    width: 95%;
}
#sharing .form_field.section input#captcha-form {
    width:85%;
}
.rowblock-inner {
    float: left;
    margin: 0 0 6px;
    width: 100%;
}
.rowblock-inner .cont_name {
    float: left;
    padding: 0;
    width: 49%;
}
.rowblock-inner .left_first {
    float: left;
    padding-bottom: 0;
    width: 50%;
}
.main_profile_submit {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-top: 1px solid #dddddd;
    margin: 0;
    padding: 12px;
}
.main_profile {
    padding-bottom: 20px;
}
form#frmProfile .form-group span.text-danger {
    display: block;
    margin-left: 0 !important;
    text-align: right;
    width: 78%;
}
}
@media only screen and (max-width:360px) {
label.col-lg-4.pn.mt5.control-label {
    margin-bottom: 10px;
}
.container.detail_page #inform.col-lg-6 .detail_info table.detail_table tr td {
    float: none;
    width: auto;
}
.container.resource_page .table-responsive table.product_download tr.prod_inst td {
    padding:20px 15px 22px 15px;
}
.coolgear img {
    display: inline;
    margin: 0;
    text-align: left;
    width: 100%;
}
.container.search_page_select .row .col-lg-3 {
    float: left;
    padding: 0 10px;
    width: 50%;
}
.container.Addvance_view {
    margin-bottom: 5px;
}
#login_popup {
    left: 4%;
    margin: 0 auto;
    position: absolute;
    top: 21%;
    width: 88%;
}
.container.search_page_select .ng-scope .col-lg-3 {
    float: left;
    width: 98%;
}
#sharing .form_field.section input#captcha-form {
    width:100%;
}
header.headsection .main_section .col-lg-6 .logo {
    float: none;
    margin:10px auto 10px auto;
}
.logo img {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
}
.headsection .main_section .col-lg-6 {
    padding: 0;
    width: 100%;
}
.welcome {
    display: block;
    float: left;
    font-size: 16px;
    margin: 0;
    padding: 0 0 2px;
    text-align: left;
    width: 75%;
}
.headsection .main_section .col-lg-6.header_rtsection {
    float: right;
    margin: 0 0 10px;
    padding: 0;
}
.main_section .header_rtsection .bs-example nav.navbar .navbar-header button {
    right: 0;
    top: -31px;
}
.main_section .header_rtsection .bs-example .navbar #navbarCollapse{margin:12px 0 0;}
.rowblock-inner .left_first {
    float: left;
    padding-bottom: 0;
    width: 100%;
}
.rowblock-inner .cont_name {
    float: left;
    padding: 0;
    width:100%;
}
.container.categoresection #sharing {
    margin: 0 0 0 20px;
    width: 88%;
}
form#frmProfile .form-group span.text-danger {
    display: block;
    margin-left: 0 !important;
    text-align: left;
    width: 100%;
}
}
@media only screen and (max-width:320px) {
#login_popup {
    left: 5%;
    margin: 0 auto;
    position: absolute;
    top: 27%;
    width: 88%;
}

}
























