#loading{
 background-color:rgba(0, 0, 0, 0.27);
 height: 100%;
 width: 100%;
 position: fixed;
 z-index: 9999;
 margin-top: 0px;
 top: 0px;
}
#loading-center{
 width: 100%;
 height: 100%;
 position: relative;
 }
#loading-center-absolute {
 position: absolute;
 left: 50%;
 top: 50%;
 height: 50px;
 width: 50px;
 margin-top: -75px;
 border-radius: 50% 50% 50% 50%;
 background:url(preloader.gif) no-repeat; 
 background-size:100%;
}
